<template>
  <div>
    <v-progress-circular :size="60" indeterminate color="primary" />
  </div>
</template>

<script>
export default {
  mounted: async function () {
    try {
      await this.$store.dispatch('activateKey', {
        key: this.$route.params.token
      })
      this.$store.commit('ADD_NOTIFICATION', {
        actionDesc: this.$t('signup.activation'),
        message: this.$t('signup.messages.activate_success'),
        type: 'success'
      })
    } catch (e) {
      this.$store.commit('ADD_NOTIFICATION', {
        actionDesc: this.$t('signup.activation'),
        message: `${e.httpError}: ${JSON.stringify(e.data)}`,
        type: 'error'
      })
    } finally {
      this.$router.push({ name: 'login' })
    }
  }
}
</script>
