<template>
  <v-row justify="center">
    <v-col cols="12" md="8" lg="6">
      <v-card class="pt-2">
        <v-img
          height="200px"
          src="static/img/logo.png"
          contain
        />
        <v-card-text>
          <p>
            {{ $t('app.teaser_text') }}
          </p>
          <v-form v-model="valid" novalidate @submit.stop.prevent="confirmNewPassword">
            <v-text-field
              v-model="new_password1"
              :label="$t('signup.password1')"
              :rules="password1Rules"
              :append-icon="password1_visible ? 'mdi-eye' : 'mdi-eye-off'"
              :type="password1_visible ? 'password' : 'text'"
              required
              @click:append="() => (password1_visible = !password1_visible)"
            />

            <v-text-field
              v-model="new_password2"
              :label="$t('signup.password2')"
              :rules="password2Rules"
              :append-icon="password2_visible ? 'mdi-eye' : 'mdi-eye-off'"
              :type="password2_visible ? 'password' : 'text'"
              required
              @click:append="() => (password2_visible = !password2_visible)"
            />

            <v-btn type="submit" :disabled="!valid">
              {{ $t('signup.reset_password') }}
            </v-btn>
          </v-form>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import { httpAction, ENDPOINTS } from '../../common-http'

export default {
  data () {
    return {
      valid: false,
      new_password1: '',
      new_password2: '',
      password1Rules: [
        (v) => !!v || this.$t('signup.messages.error_password1'), // Check if its not empty
        (v) => { // Check if it has at least 8 characters
          if (v.length >= 8) {
            return true
          } else {
            return this.$t('signup.messages.error_password1')
          }
        },
        (v) => { // Check if it has uppercase and lowercase characters and at least one number
          const hasNumber = /\d/
          const hasCharacters = /([a-z]|[A-Z])/
          if (hasNumber.test(v) && hasCharacters.test(v)) {
            return true
          } else {
            return this.$t('signup.messages.error_password1')
          }
        }
      ],
      password2Rules: [
        (v) => !!v || this.$t('signup.messages.error_password2'),
        (v) => v === this.new_password1 || this.$t('signup.messages.error_password2')
      ],
      password1_visible: true,
      password2_visible: true
    }
  },
  methods: {
    async confirmNewPassword () {
      try {
        const response = await httpAction('POST', ENDPOINTS.PASSWORD_RESET_CONFIRM, {
          new_password1: this.new_password1,
          new_password2: this.new_password2,
          uid: this.$route.params.uidb64,
          token: this.$route.params.token
        })
        this.$router.push({ name: 'login' })
        this.$store.commit('ADD_NOTIFICATION', {
          actionDesc: this.$t('signup.reset_password'),
          message: response.detail,
          type: 'success'
        })
      } catch (error) {
        this.$router.push({ name: 'login' })
        this.$store.commit('ADD_NOTIFICATION', {
          actionDesc: this.$t('signup.reset_password'),
          message: `${JSON.stringify(error)}`,
          type: 'error'
        })
      }
    }
  }
}
</script>
