<template>
  <v-row justify="center">
    <v-col cols="12" md="8" lg="6">
      <v-card class="pt-2">
        <v-img
          height="200px"
          src="static/img/logo.png"
          contain
        />
        <v-card-text>
          <p>
            {{ $t('app.teaser_text') }}
          </p>
          <v-form v-model="valid" novalidate @submit.stop.prevent="sendResetMail">
            <v-text-field
              v-model="email"
              :label="$t('login.email')"
              :rules="emailRules"
              required
            />

            <v-btn type="submit" :disabled="!valid">
              {{ $t('signup.reset_password') }}
            </v-btn>
          </v-form>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import { httpAction, ENDPOINTS } from '../../common-http'
import { handleHTTPError } from '../../utils'

export default {
  data () {
    return {
      valid: false,
      email: '',
      emailRules: [
        (v) => !!v || this.$t('signup.messages.error_email'),
        (v) => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || this.$t('signup.messages.error_email')
      ]
    }
  },
  methods: {
    async sendResetMail () {
      try {
        const response = await httpAction('POST', ENDPOINTS.PASSWORD_RESET, {
          email: this.email
        })
        this.$router.push({ name: 'login' })
        this.$store.commit('ADD_NOTIFICATION', {
          actionDesc: this.$t('signup.reset_password'),
          message: this.$t('signup.messages.reset_password_sent'),
          type: 'success'
        })
      } catch (error) {
        this.$router.push({ name: 'login' })
        this.$store.commit('ADD_NOTIFICATION', {
          actionDesc: this.$t('signup.reset_password'),
          message: `${error}`,
          type: 'error'
        })
      }
    }
  }
}
</script>
