<template>
  <v-form v-model="valid" @submit.stop.prevent="signup">
    <v-text-field
      v-model="email"
      :error-messages="errorMsgs['email']"
      :label="$t('signup.email')"
      type="email"
      autocorrect="off"
      autocapitalize="off"
      :rules="emailRules"
      required
      @input="errorMsgs['email'] = []"
    />

    <v-text-field
      v-model="first_name"
      :error-messages="errorMsgs['first_name']"
      :label="$t('signup.first_name')"
      :rules="[v => !!v || this.$t('signup.messages.error_required')]"
      required
      @input="errorMsgs['last_name']=[]"
    />

    <v-text-field
      v-model="last_name"
      :error-messages="errorMsgs['last_name']"
      :label="$t('signup.last_name')"
      :rules="[v => !!v || this.$t('signup.messages.error_required')]"
      required
      @input="errorMsgs['last_name']=[]"
    />

    <v-text-field
      v-model="password1"
      :error-messages="errorMsgs['password1']"
      :label="$t('signup.password1')"
      :rules="password1Rules"
      :append-icon="password1_visible ? 'mdi-eye' : 'mdi-eye-off'"
      :type="password1_visible ? 'password' : 'text'"
      required
      @click:append="() => (password1_visible = !password1_visible)"
      @input="errorMsgs['password1']=[]"
    />

    <v-text-field
      v-model="password2"
      :error-messages="errorMsgs['password2']"
      :label="$t('signup.password2')"
      :rules="password2Rules"
      :append-icon="password2_visible ? 'mdi-eye' : 'mdi-eye-off'"
      :type="password2_visible ? 'password' : 'text'"
      required
      @click:append="() => (password2_visible = !password2_visible)"
      @input="errorMsgs['password2']=[]"
    />

    <v-checkbox
      v-model="acceptDisclaimer"
      :rules="disclaimerRules"
      required
    >
      <i18n slot="label" path="signup.disclaimer" tag="span">
        <router-link :to="{ name: 'impressum-unauthorized'}">
          {{ $t('signup.privacy_policy') }}
        </router-link>
      </i18n>
    </v-checkbox>
    <v-btn type="submit" :disabled="!valid">
      {{ $t('signup.signup') }}
    </v-btn>
    <router-link tag="v-btn" :to="{ name: 'impressum-unauthorized'}" class="btn--flat btn--raised info--text float-right">
      {{ $t('app.disclaimer') }}
    </router-link>
  </v-form>
</template>
<script>

export default {
  data () {
    return {
      valid: false,
      acceptDisclaimer: false,
      first_name: '',
      last_name: '',
      email: '',
      password1: '',
      password2: '',
      emailRules: [
        (v) => !!v || this.$t('signup.messages.error_email'),
        (v) => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w*)+$/.test(v) || this.$t('signup.messages.error_email')
      ],
      password1Rules: [
        (v) => !!v || this.$t('signup.messages.error_password1'), // Check if its not empty
        (v) => { // Check if it has at least 8 characters
          if (v.length >= 8) {
            return true
          } else {
            return this.$t('signup.messages.error_password1')
          }
        },
        (v) => { // Check if it has uppercase and lowercase characters and at least one number
          const hasNumber = /\d/
          // let hasLowercase = /[a-z]/
          // let hasUppercase = /[A-Z]/
          const hasCharacters = /([a-z]|[A-Z])/
          if (hasNumber.test(v) && hasCharacters.test(v)) {
            return true
          } else {
            return this.$t('signup.messages.error_password1')
          }
        }
      ],
      password2Rules: [
        (v) => !!v || this.$t('signup.messages.error_password2'),
        (v) => v === this.password1 || this.$t('signup.messages.error_password2')
      ],
      disclaimerRules: [
        (v) => !!v || this.$t('signup.messages.error_disclaimer')
      ],
      password1_visible: true,
      password2_visible: true,
      errorMsgs: {
        email: [],
        password: [],
        first_name: [],
        last_name: [],
        password1: [],
        password2: []
      }
    }
  },
  methods: {
    async signup () {
      try {
        await this.$store.dispatch('signup', {
          email: this.email,
          username: this.email,
          first_name: this.first_name,
          last_name: this.last_name,
          password1: this.password1,
          password2: this.password2
        })
        this.$router.push({ name: 'signup-success' })
      } catch (e) {
        if (e.data.non_field_errors) {
          this.$store.commit('ADD_NOTIFICATION', {
            actionDesc: this.$('signup.title'),
            message: `${e.httpError}: ${e.data.non_field_errors.join('\n')}`,
            type: 'error'
          })
          delete e.data.non_field_errors
        }
        Object.assign(this.errorMsgs, e.data)
      }
    }
  }
}
</script>
