<template>
  <v-row justify="center">
    <v-col cols="12" md="8" lg="6">
      <v-card class="pt-2">
        <v-img
          height="200px"
          src="static/img/logo.png"
          contain
        />
        <v-card-text>
          <p>
            {{ $t('app.teaser_text') }}
          </p>
          <v-tabs v-model="active" dark grow>
            <v-tab
              :href="'#login'"
            >
              {{ $t('login.title') }}
            </v-tab>
            <v-tab
              :href="'#signup'"
            >
              {{ $t('signup.title') }}
            </v-tab>
            <v-tabs-slider style="height: 4px;" color="accent" />
            <v-tab-item
              :id="'login'"
            >
              <login />
            </v-tab-item>
            <v-tab-item :id="'signup'">
              <v-alert class="my-5" color="info" icon="fa-envelope-open-text" :value="true">
                {{ $t('signup.messages.success') }}
              </v-alert>
            </v-tab-item>
          </v-tabs>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import Login from '../login/Login.vue'

export default {
  components: {
    Login
  },
  data () {
    return {
      tabs: ['login'],
      active: 'signup'
    }
  }
}
</script>
