<template>
  <!-- <v-container fluid grid-list-md> -->
  <v-container fluid>
    <router-view name="main" />
    <SnackBar />
  </v-container>
</template>

<script>
import SnackBar from './SnackBar.vue'
export default {
  components: {
    SnackBar
  }
}
</script>
