<template>
  <v-menu
    bottom left offset-y
    :close-on-content-click="false"
  >
    <template #activator="{ on }">
      <v-btn
        icon
        v-on="on"
      >
        <v-icon>mdi-dots-vertical</v-icon>
      </v-btn>
    </template>
      <v-list>
        <v-list-item>
          <v-list-item-icon>
            <v-icon>
              mdi-web
            </v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-select
              v-model="languageModel"
              :items="availableLanguages"
              menu-props="auto"
              label="Language"
              item-text="name"
              item-value="code"
              dense
              hide-details
              single-line
            />
          </v-list-item-content>
        </v-list-item>
        <v-list-item :disabled="$store.getters.mode.mode !== 'view'" @click="$root.refreshData()">
          <v-list-item-action>
            <v-icon>mdi-refresh</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>
              {{ $t('app.refresh_data') }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item :to="{ name: 'impressum' }">
          <v-list-item-action>
            <v-icon>mdi-information-outline</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>
              {{ $t('app.disclaimer') }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item :to="{ name: 'logout' }">
          <v-list-item-action>
            <v-icon>mdi-broom</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>
              {{ $t('app.logout') }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
          <v-dialog
            v-model="deleteProfileDialog"
            max-width="500"
          >
            <template #activator="{ on }">
              <v-list-item v-on="on">
                <v-list-item-action>
                  <v-icon>mdi-account-remove-outline</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                  <v-list-item-title>
                    {{ $t('app.delete_profile') }}
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </template>
            <v-card
              :disabled="$store.getters[`user/isLoading`]"
              >
              <v-card-title
                class="text-h5 primary white--text"
              >
                {{ $t('app.delete_profile_question') }}
              </v-card-title>
              <v-card-text class="pt-5">
              <v-icon>
                mdi-account
              </v-icon>
              <b>{{ userEmail }}</b>
                <p>{{ $t('app.delete_profile_warning') }}</p>
              </v-card-text>
              <v-divider />
              <v-card-actions>
                <Spinner v-if="$store.getters[`user/isLoading`]" />
                <v-btn
                  color="primary"
                  text
                  @click="deleteProfileDialog = false"
                >
                  {{ $t('app.cancel') }}
                </v-btn>
                <v-spacer />
                <v-btn
                  color="danger"
                  text
                  @click="deleteProfile()"
                >
                  <span>{{ $t('data.true') }}</span>
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-list>
    <!-- </v-dialog> -->
  </v-menu>
</template>
<script>
import { LANGUAGES } from '../i18n'
import Spinner from './Spinner.vue'
import { waitOrAbortPendingRequests } from '../utils.js'

export default {
  components: {
    Spinner
  },
  data: () => ({
    availableLanguages: LANGUAGES,
    deleteProfileDialog: false,
    errorMessage: ''
  }),
  computed: {
    languageModel: {
      get () {
        return this.$store.getters.uiLanguage
      },
      set (langCode) {
        this.$locale.change(langCode)
        this.$store.commit('CHANGE_LANGUAGE', langCode)
      }
    },
    userEmail () {
      try {
        return this.$store.getters.userUnderExamination.email
      } catch (e) {
        return e
      }
    }
  },
  methods: {
    async deleteProfile () {
      const id = this.$store.getters.userUnderExamination.pk
      try {
        await waitOrAbortPendingRequests()
        await this.$store.dispatch('updateToServer')
        await this.$store.dispatch('user/deleteProfile', id)
        this.deleteProfileDialog = false
        this.$router.push({ name: 'logout' })
      } catch (e) {
        // console.log(`Fail: ${e}<=`)
        this.deleteProfileDialog = false
        this.$store.commit('ADD_NOTIFICATION', {
          actionDesc: this.$t('profile.delete'),
          message: `${e.httpError}: ${JSON.stringify(e.data)}`,
          type: 'error'
        })
      }
    }
  }
}
</script>
