<template>
  <div>
    <SideNav />
    <ToolBar />
    <router-view name="main" />
    <StatusBar />
    <NotificationSheet />
  </div>
</template>
<script>
import SideNav from './SideNav.vue'
import ToolBar from './ToolBar.vue'
import StatusBar from './StatusBar.vue'
import NotificationSheet from './NotificationSheet.vue'
export default {
  components: {
    SideNav,
    ToolBar,
    NotificationSheet,
    StatusBar
  }
}
</script>
