<template>
  <div>
    <Spinner v-if="isLoading" />
    <div v-else>
      <p v-for="heartCenter in list" :key="heartCenter.id">
        {{ heartCenter.address }}
      </p>
    </div>
  </div>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'

const { mapState } = createNamespacedHelpers('heartCenter')

export default {
  computed: {
    ...mapState(['list']),
    isLoading () {
      return this.$store.getters['heartCenter/isLoading']
    },
    isViewMode () {
      return this.$store.getters.mode.mode === 'view'
    }
  }
}
</script>
