<template>
  <v-container
    fluid
  >
    <v-row
      justify="space-around"
    >
      <Spinner v-if="isLoading" />
      <h4
        v-else-if="heartIntervention.length === 0"
      >
        {{ $t('data.indetermined') }}
      </h4>
      <v-col
        v-else-if="isViewMode"
        cols="12"
        md="6"
      >
        <v-card>
          <div v-if="heartOperation.length > 0">
            <v-card-title primary-title>
              <div>
                <div class="text-h5" v-text="localName" />
                <span
                  v-if="heartOperation[0].name.localeCompare(heartOperation[0].long_name) != 0"
                  class="grey--text"
                  v-text="localLongName"
                />
              </div>
            </v-card-title>
            <v-img
              v-if="heartOperation.length > 0"
              :src="heartOperation[0].illustration_url"
              contain
              height="60vh"
            />
          </div>
          <v-card-text
            class="accent-bg"
            style="white-space: pre-line"
          >
            {{ heartIntervention[0].notes || '' }}
          </v-card-text>
        </v-card>
      </v-col>
      <v-col
        v-else-if="!isViewMode"
        cols="12"
        lg="10"
      >
        <v-card>
          <v-row justify="space-around">
            <v-col cols="12">
              <HeartInterventionChooser
                :schema="schema"
              />
            </v-col>
            <!--
              <v-flex>
              <v-tooltip bottom>
              <v-btn
              slot="activator"
              color="primary"
              v-on:click="deleteHeartIntervention()"
              dark
              icon
              >
              <v-icon>mdi-delete</v-icon>
              </v-btn>
              <span v-html="$t('app.heart_intervention_del')" />
              </v-tooltip>
              </v-flex>
            -->
          </v-row>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<style> .accent-bg { background-color: #bbdefb; } </style>
<script>
import Spinner from './Spinner.vue'
import HeartInterventionChooser from './HeartInterventionChooser.vue'
import { createNamespacedHelpers } from 'vuex'
const { mapState } = createNamespacedHelpers('heartIntervention')

export default {
  components: {
    HeartInterventionChooser,
    Spinner
  },
  computed: {
    ...mapState(['list', 'schema']),
    localName () {
      return this.heartOperation[0][`name_${this.$store.getters.uiLanguage}`]
    },
    localLongName () {
      return this.heartOperation[0][`long_name_${this.$store.getters.uiLanguage}`]
    },
    heartIntervention () {
      return this.list.filter(
        x => x.user === this.$store.getters.userUnderExamination.pk
      )
    },
    heartOperation () {
      return this.$store.getters['heartOperation/list'].filter((x) => {
        return x.id === this.heartIntervention[0].heart_operation
      })
    },
    isLoading () {
      return this.$store.getters['heartIntervention/isLoading'] ||
        this.$store.getters['heartOperation/isLoading'] ||
        this.$store.getters['user/isLoading']
    },
    isViewMode () {
      return this.$store.getters.mode.mode === 'view'
    }
  },
  methods: {
    deleteHeartIntervention () {
      this.$store.commit('heartIntervention/DEL_ITEM', this.heartIntervention[0])
      this.$router.push({ name: 'home' })
    }
  }
}
</script>
