<template>
  <v-container
    fluid
  >
    <v-row
      justify="space-around"
    >
      <Spinner v-if="isLoading" />
      <h4
        v-else-if="heartDiagnosis.length === 0"
      >
        {{ $t('data.indetermined') }}
      </h4>
      <v-col
        v-else-if="isViewMode"
        cols="12"
        md="6"
      >
        <v-card>
          <div v-if="heartDisease.length > 0">
            <v-card-title primary-title>
              <div>
                <div class="text-h5" v-text="localName" />
                <span
                  v-if="heartDisease[0].name.localeCompare(heartDisease[0].long_name) != 0"
                  class="grey--text"
                  v-text="localLongName"
                />
              </div>
            </v-card-title>
            <v-img
              v-if="heartDisease.length > 0"
              :src="heartDisease[0].illustration_url"
              contain
              height="60vh"
            />
          </div>
          <v-card-text
            class="accent-bg"
            style="white-space: pre-line"
          >
            {{ heartDiagnosis[0].notes || '' }}
          </v-card-text>
        </v-card>
      </v-col>
      <v-col
        v-else-if="!isViewMode"
        cols="12"
        lg="10"
      >
        <v-card>
          <!-- <v-row justify="space-around" column> -->
          <v-row justify="space-around">
            <v-col cols="12">
              <HeartDiagnosisChooser
                :schema="schema"
              />
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<style> .accent-bg { background-color: #bbdefb; } </style>
<script>
import Spinner from './Spinner.vue'
import HeartDiagnosisChooser from './HeartDiagnosisChooser.vue'
import { createNamespacedHelpers } from 'vuex'
const { mapState } = createNamespacedHelpers('heartDiagnosis')

export default {
  components: {
    HeartDiagnosisChooser,
    Spinner
  },
  computed: {
    ...mapState(['list', 'schema']),
    localName () {
      return this.heartDisease[0][`name_${this.$store.getters.uiLanguage}`]
    },
    localLongName () {
      return this.heartDisease[0][`long_name_${this.$store.getters.uiLanguage}`]
    },
    heartDiagnosis () {
      return this.list.filter(
        x => x.user === this.$store.getters.userUnderExamination.pk
      )
    },
    heartDisease () {
      return this.$store.getters['heartDisease/list'].filter((x) => {
        return x.id === this.heartDiagnosis[0].heart_disease
      })
    },
    isLoading () {
      return this.$store.getters['heartDisease/isLoading'] ||
        this.$store.getters['heartDiagnosis/isLoading'] ||
        this.$store.getters['user/isLoading']
    },
    isViewMode () {
      return this.$store.getters.mode.mode === 'view'
    }
  }
}
</script>
