<template>
  <v-row>
    <v-col
      id="heart-disease-selector"
      cols="12"
      md="6"
    >
      <v-row justify="space-around">
        <v-col cols="12">
          <v-card-text>
            <TextSearchSelectSingleChoice
              v-model="selected_heartdisease"
              :hint="$t('heart_diagnosis_chooser.step2_hint')"
              :label="$t('heart_diagnosis_chooser.step2_title')"
              :full-selection="this.$store.getters['heartDisease/list']"
              placeholder=""
            />
            <LongTextElement
              v-if="heartDiagnosis.length > 0"
              field-name="notes"
              :hint="$t('heart_diagnosis_chooser.step3_hint')"
              :field-schema="schema.notes"
              :field-object="heartDiagnosis[0]"
              vuex-namespace="heartDiagnosis"
            />
          </v-card-text>
        </v-col>
      </v-row>
    </v-col>
    <v-col class="d-flex" cols="12" md="6">
      <v-img
        v-if="selected_heartdisease && selected_heartdisease.illustration_url"
        :src="selected_heartdisease.illustration_url"
        contain
        height="60vh"
      />
    </v-col>
  </v-row>
</template>

<style> .illustration { max-width:100%; } </style>

<script>
import LongTextElement from './elements/LongTextElement.vue'
import TextSearchSelectSingleChoice from './elements/TextSearchSelectSingleChoice.vue'

export default {
  components: {
    LongTextElement,
    TextSearchSelectSingleChoice
  },
  props: {
    schema: {
      type: Object,
      default: null
    }
  },
  data: () => ({
    selected_category: null
  }),
  computed: {
    categories () {
      return this.$store.getters['heartDiseaseCategories/list']
    },
    // categories have been declined
    // filteredHeartDiseaseList () { // find heart-diseases of certain category
    //   return this.$store.getters['heartDisease/list'].filter((x) => {
    //     if (this.selected_category === null) {
    //       return true
    //     } else {
    //       return this.selected_category.heartdiseases.find((y) => {
    //         return y === x.id
    //       })
    //     }
    //   })
    // },
    heartDiagnosis () {
      return this.$store.getters['heartDiagnosis/list'].filter(
        x => x.user === this.$store.getters.userUnderExamination.pk
      )
    },
    selected_heartdisease: {
      get () {
        return this.$store.getters['heartDisease/list'].filter((x) => {
          return x.id === this.heartDiagnosis[0].heart_disease
        })[0]
      },
      set (value) {
        var payload = {
          fieldObject: this.heartDiagnosis[0],
          fieldName: 'heart_disease',
          data: value
        }
        this.$store.commit('heartDiagnosis/UPDATE_ATTRIBUTE', payload)
      }
    }
  }
  // belongs to unwanted heart disease deletion
  // methods: {
  //   deleteItem () {
  //     this.$store.commit(`heartDiagnosis/DEL_ITEM`, this.heartDiagnosis[0])
  //   }
  // },
}
</script>
