<template>
  <v-row>
    <v-col
      id="heart-disease-selector"
      cols="12"
      md="6"
    >
      <!-- <v-row justify="space-around" column> -->
      <v-row justify="space-around">
        <v-col cols="12">
          <v-card-text>
            <TextSearchSelectSingleChoice
              v-model="selected_heartoperation"
              :hint="$t('heart_operation_chooser.step2_hint')"
              :label="$t('heart_operation_chooser.step2_title')"
              :full-selection="this.$store.getters['heartOperation/list']"
              placeholder=""
            />
            <LongTextElement
              v-if="heartIntervention.length > 0"
              field-name="notes"
              :hint="$t('heart_operation_chooser.step3_hint')"
              :field-schema="schema.notes"
              :field-object="heartIntervention[0]"
              vuex-namespace="heartIntervention"
            />
          </v-card-text>
        </v-col>
      </v-row>
    </v-col>
    <v-col class="d-flex" cols="12" md="6">
      <v-img
        v-if="selected_heartoperation && selected_heartoperation.illustration_url"
        :src="selected_heartoperation.illustration_url"
        contain
        height="60vh"
      />
    </v-col>
  </v-row>
</template>

<style> .illustration { max-width:100%; } </style>

<script>
import LongTextElement from './elements/LongTextElement.vue'
import TextSearchSelectSingleChoice from './elements/TextSearchSelectSingleChoice.vue'
export default {
  components: {
    LongTextElement,
    TextSearchSelectSingleChoice
  },
  props: {
    schema: {
      type: Object,
      default: null
    }
  },
  data: () => ({
    selected_category: null
  }),
  computed: {
    categories () {
      return this.$store.getters['heartOperationCategories/list']
    },
    heartIntervention () {
      return this.$store.getters['heartIntervention/list'].filter(
        x => x.user === this.$store.getters.userUnderExamination.pk
      )
    },
    selected_heartoperation: {
      get () {
        return this.$store.getters['heartOperation/list'].filter((x) => {
          return x.id === this.heartIntervention[0].heart_operation
        })[0]
      },
      set (value) {
        var payload = {
          fieldObject: this.heartIntervention[0],
          fieldName: 'heart_operation',
          data: value
        }
        this.$store.commit('heartIntervention/UPDATE_ATTRIBUTE', payload)
      }
    }
  }
}
</script>
