<template>
  <v-row justify="center">
    <v-col cols="12" md="10" lg="8">
      <v-card class="pt-2">
        <v-img
          height="200px"
          src="static/img/logo.png"
          contain
        />
        <v-card-text>
          <div v-if="languageCode=='en'">
            <h2>Contact</h2>
            The "heartapp" was developed in cooperation between the Insel
            Gruppe AG, Center for Congenital Heart Diseases, University
            Hospital Bern and the New Media Center, University of Basel. We
            appreciate your
            <a @click.stop="showFeedbackDialog = true">
              feedback
            </a>!
            <v-row justify="center">
              <v-col class="ms6" cols="12">
                <v-card-text class="px-3">
                  Insel Gruppe AG<br>
                  <b>
                    Center for Congenital Heart Diseases
                  </b><br>
                  University Hospital Bern<br>
                  Freiburgstrasse 18<br>
                  3010 Berne<br>
                  <a href="http://www.ang-herzfehler.ch/">
                    www.ang-herzfehler.ch
                  </a>
                </v-card-text>
              </v-col>
              <v-col class="ms6" cols="12">
                <v-card-text class="px-3">
                  University of Basel<br>
                  <b>New Media Center </b> <br>
                  Totentanz 18<br>
                  4051 Basel<br>
                  <a href="https://nmc.unibas.ch">
                    https://nmc.unibas.ch
                  </a>
                </v-card-text>
              </v-col>
            </v-row>
            <h2>Limitation of liability</h2>
            <p>
              Although every care has been taken to ensure the accuracy of the
              information published, no warranty can be given in respect of the
              accuracy, reliability, currency or completeness of this
              information. We reserve the right to alter or remove content, in
              full or in part, without prior notice. In no event will we be
              liable for any loss or damage of a material or immaterial nature
              arising from access to, use or non-use of published information,
              or from misuse of the connection or technical faults.
            </p>
            <h2>Links</h2>
            <p>
              Use of links on our website to third party websites lies outside
              the scope of our responsibility. Access and use of such websites
              occurs entirely at the user’s own risk. We expressly state that
              it has no influence whatsoever over the content of any linked
              site. Responsibility for information and services of linked sites
              rests entirely with the relevant third parties. No liability can
              be accepted in respect of the content of such websites.
            </p>
            <h2>Copyright</h2>
            <p>
              Copyright and any other rights relating to texts, illustrations,
              photos or any other data available on the website are the
              exclusive property of University of Basel or of any other
              expressly mentioned owners. Any reproduction requires the prior
              written consent of the copyright holder.
            </p>
            <h2 id="privacy">
              Data protection
            </h2>
            <p>
              Based on Article 13 of the Swiss Federal Constitution and the
              provisions of federal data protection legislation, everyone has
              the right to the protection of their privacy, as well as to
              protection from misuse of their personal details. We fully comply
              with these provisions. Personal data is treated as strictly
              confidential and is neither passed on nor sold to third parties.
              In close cooperation with our hosting provider, we make every
              effort to protect the databases as well as possible from outside
              access, data loss, misuse or falsification. When you access our
              webpages, the following data is stored in log files: IP address,
              date, time, browser request and general information on the
              operating system and browser. This usage data forms the basis for
              statistical, anonymous evaluations for the purpose of tracking
              trends so that we can improve the information on offer. All data
              is stored exclusively in Swiss data centers.
            </p>
          </div>
          <div v-else-if="languageCode=='de'">
            <h2>Kontakt</h2>
            Das «heartapp» entstand in der Kooperation zwischen der Insel
            Gruppe AG, Zentrum für angeborene Herzfehler (ZAH),
            Universitätsspital Bern und dem New Media Center der Universität
            Basel. Wir freuen uns über Ihre
            <a @click.stop="showFeedbackDialog = true">
              Rückmeldung
            </a>!
            <v-row justify="center">
              <v-col class="ms6" cols="12">
                <v-card-text class="px-3">
                  Insel Gruppe AG<br>
                  <b>Zentrum für angeborene Herzfehler (ZAH)</b><br>
                  Universitätsspital Bern<br>
                  Freiburgstrasse 18<br>
                  3010 Bern<br>
                  <a href="http://www.ang-herzfehler.ch/">
                    www.ang-herzfehler.ch
                  </a>
                </v-card-text>
              </v-col>
              <v-col class="ms6" cols="12">
                <v-card-text class="px-3">
                  Universität Basel <br>
                  <b>New Media Center </b> <br>
                  Totentanz 18<br>
                  4051 Basel<br>
                  <a href="https://nmc.unibas.ch">
                    https://nmc.unibas.ch
                  </a>
                </v-card-text>
              </v-col>
            </v-row>
            <h2>Haftungsausschluss</h2>
            <p>
              Der Autor übernimmt keinerlei Gewähr hinsichtlich der
              inhaltlichen Richtigkeit, Genauigkeit, Aktualität,
              Zuverlässigkeit und Vollständigkeit der Informationen.
              Haftungsansprüche gegen den Autor wegen Schäden materieller oder
              immaterieller Art, welche aus dem Zugriff oder der Nutzung bzw.
              Nichtnutzung der veröffentlichten Informationen, durch Missbrauch
              der Verbindung oder durch technische Störungen entstanden sind,
              werden ausgeschlossen. Alle Angebote sind unverbindlich. Der
              Autor behält es sich ausdrücklich vor, Teile der Seiten oder das
              gesamte Angebot ohne gesonderte Ankündigung zu verändern, zu
              ergänzen, zu löschen oder die Veröffentlichung zeitweise oder
              endgültig einzustellen.
            </p>
            <h2>Haftung für Links</h2>
            <p>
              Verweise und Links auf Webseiten Dritter liegen ausserhalb
              unseres Verantwortungsbereichs Es wird jegliche Verantwortung für
              solche Webseiten abgelehnt. Der Zugriff und die Nutzung solcher
              Webseiten erfolgen auf eigene Gefahr des Nutzers oder der
              Nutzerin.
            </p>
            <h2>Urheberrechte</h2>
            <p>
              Die Urheber- und alle anderen Rechte an Inhalten, Bildern, Fotos
              oder anderen Dateien auf der Website gehören ausschliesslich der
              Universität Basel oder den speziell genannten Rechtsinhabern. Für
              die Reproduktion jeglicher Elemente ist die schriftliche
              Zustimmung der Urheberrechtsträger im Voraus einzuholen.
            </p>
            <h2 id="privacy">
              Datenschutz
            </h2>
            <p>
              Gestützt auf Artikel 13 der schweizerischen Bundesverfassung und
              die datenschutzrechtlichen Bestimmungen des Kantons Bern
              (Datenschutzgesetz, KDSG) (Datenschutzgesetz, DSG) hat jede
              Person Anspruch auf Schutz ihrer Privatsphäre sowie auf Schutz
              vor Missbrauch ihrer persönlichen Daten.
              Wir halten diese Bestimmungen ein. Persönliche Daten werden
              streng vertraulich behandelt und weder an Dritte verkauft noch
              weiter gegeben. In enger Zusammenarbeit mit unseren
              Hosting-Providern bemühen wir uns, die Datenbanken so gut wie
              möglich vor fremden Zugriffen, Verlusten, Missbrauch oder vor
              Fälschung zu schützen. Beim Zugriff auf unsere Webseiten werden
              folgende Daten in Logfiles gespeichert: IP-Adresse, Datum,
              Uhrzeit, Browser-Anfrage und allg. übertragene Informationen zum
              Betriebssystem resp. Browser. Diese Nutzungsdaten bilden die
              Basis für statistische, anonyme Auswertungen, so dass Trends
              erkennbar sind, anhand derer wir unsere Angebote entsprechend
              verbessern können.
              Alle Daten werden ausschliesslich in Schweizer Rechenzentren gespeichert.
            </p>
          </div>
          <div v-else-if="languageCode=='fr'">
            <h2>Adresse de contact</h2>
            L'application "heartapp" était réalisé en coopération entre Insel
            Gruppe AG, ZAH, Hôpital universitaire de Berne et le New Media
            Center, Université de Bâle.  Nous sommes toujours heureux d'avoir
            les réactions de nos clients. Vueilliez-bien nous faire parvenir
            votre
            <a @click.stop="showFeedbackDialog = true">
              feedback
            </a>!

            <v-row justify="center">
              <v-col class="ms6" cols="12">
                <v-card-text class="px-3">
                  Insel Gruppe AG<br>
                  <b>Zentrum für angeborene Herzfehler (ZAH)</b><br>
                  Hôpital universitaire de Berne<br>
                  Freiburgstrasse 18<br>
                  3010 Berne<br>
                  <a href="http://www.ang-herzfehler.ch/">
                    www.ang-herzfehler.ch
                  </a>
                </v-card-text>
              </v-col>
              <v-col class="ms6" cols="12">
                <v-card-text class="px-3">
                  Université de Bâle<br>
                  <b>New Media Center </b> <br>
                  Totentanz 18<br>
                  4051 Bâle<br>
                  <a href="https://nmc.unibas.ch">
                    https://nmc.unibas.ch
                  </a>
                </v-card-text>
              </v-col>
            </v-row>
            <h2> Disclaimer </h2>
            <p>
              L’auteur ne peut en aucun cas être rendu responsable de la
              justesse des informations, de leur précision, leur actualité,
              leur fiabilité et leur exhaustivité. L’auteur ne peut pas être
              tenu responsable pour des dégâts matériels ou immatériels de
              quelle que nature que ce soit qui auraient résulté d’un accès,
              d’une utilisation ou d’une non-utilisation des informations
              publiées, d’une connexion abusive ou de dysfonctionnements
              techniques. Toutes les offres ne sont pas fermes. L’auteur se
              réserve le droit de changer, de compléter et de supprimer des
              parties de l’offre ou l’offre totale ainsi que de limiter la
              publication de manière partielle ou définitive.
            </p>
            <h2> Responsabilité par rapport aux liens </h2>
            <p>
              Les références et les liens vers des sites Internet tiers ne sont
              pas de notre responsabilité. Nous excluons toute responsabilité
              pour ce genre de sites. L’accès et l’utilisation de ces sites
              Internet se font aux risques et périls des utilisateurs.
            </p>
            <h2> Droit d’auteur </h2>
            <p>
              Les droits d’auteurs et autres droits liés aux contenus, aux
              images, aux photos et autres données sur le site Internet sont la
              propriété exclusive de l’Université de Bâle ou de l’auteur
              spécifié. Toute reproduction d’un élément doit faire l’objet
              d’une autorisation écrite préalable auprès du propriétaire des
              droits d’auteur.
            </p>
            <h2 id="privacy">
              Protection des données
            </h2>
            <p>
              Selon l’article 13 de la Constitution helvétique et selon les
              dispositions liées à la protection des données de la Loi fédérale
              sur la protection des données (LPD), toute personne a droit au
              respect de sa vie privée et a le droit d'être protégée contre
              l'emploi abusif des données qui la concernent. Nous respectons
              ces dispositions. Les données personnelles sont traitées de
              manières strictement confidentielles et ne sont pas transmises,
              ni vendues à des tiers. En étroite collaboration avec notre
              provider-hôte, nous faisons tout ce qui est possible pour
              protéger notre banque de données d’intrusions étrangères, de
              pertes, d’utilisations abusives ou de falsifications. Lors de
              l’accès à notre site Internet, les données suivantes sont
              sauvegardées dans des fichiers journaux (logfiles): l’adresse IP,
              la date, l’heure, la demande du browser et les informations
              générales transmises sur le système d’exploitation, resp. le
              browser. Ces données d’utilisation servent de bases à une
              évaluation statistique anonyme servant à la reconnaissance de
              tendances afin d’améliorer notre offre. Toutes les données sont
              exclusivement sauvegardées sur des ordinateurs situés en Suisse.
            </p>
          </div>
          <router-link
            :to="{ name: 'home' }"
          >
            {{ $t('not_found.messages.home') }}
          </router-link>
        </v-card-text>
      </v-card>
    </v-col>
    <v-dialog
      v-model="showFeedbackDialog"
      hide-overlay
      transition="dialog-bottom-transition"
      scrollable
      persistent
      max-width="600px"
    >
      <v-form
        ref="form"
        v-model="valid"
        style="width: 100%"
        @submit.stop.prevent="sendFeedback"
      >
        <v-card tile>
          <v-card-title>
            <span class="text-h5">
              {{ $t('feedback.title') }}
            </span>
          </v-card-title>
          <v-card-text>
            <v-text-field
              v-if="!$store.getters.isLoggedIn"
              v-model="email"
              :label="$t('feedback.email')"
              :rules="emailRules"
              :required="feedbackType != 'deleteMe'"
            />
            <v-radio-group
              v-model="feedbackType"
            >
              <v-radio
                :label="$t('feedback.opinion')"
                value="opinion"
              />
              <v-radio
                :label="$t('feedback.administrative')"
                value="administrative"
              />
              <v-radio
                :label="$t('feedback.technical')"
                value="technical"
              />
              <v-radio
                v-if="$store.getters.isLoggedIn"
                :label="$t('feedback.deleteMe')"
                value="deleteMe"
              />
            </v-radio-group>
            <v-textarea
              v-model="message"
              :label="$t('feedback.message')"
              :rules="messageRules"
              required
            />
          </v-card-text>
          <v-card-actions>
            <v-btn
              outlined
              type="submit"
              :disabled="!valid"
            >
              <span>
                {{ $t('feedback.submit') }}
              </span>
            </v-btn>
            <v-btn
              outlined
              @click.stop="showFeedbackDialog=false"
            >
              <span>
                {{ $t('feedback.cancel') }}
              </span>
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>
    <v-dialog
      v-model="showFeedbackConfirm"
      transition="dialog-top-transition"
      persistent
      max-width="600px"
    >
      <v-card tile>
        <v-card-title>
          <span class="text-h5">
            {{ $t('feedback.confirm') }}
          </span>
        </v-card-title>
        <v-card-actions>
          <v-btn
            outlined
            @click.stop="showFeedbackConfirm=false"
          >
            <span>
              {{ $t('feedback.ok')
            </span>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import { httpAction } from '../common-http'
import { handleHTTPError } from '../utils'

export default {
  data () {
    let email = ''
    if (this.$store.getters.isLoggedIn) {
      email = this.$store.getters['authenticatedUser/list'].email
    }
    return {
      showFeedbackDialog: false,
      showFeedbackConfirm: false,
      valid: false,
      feedbackType: 'opinion',
      message: '',
      email: email,
      emailRules: [
        v => !!v || this.$t('signup.messages.error_email'),
        v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w*)+$/.test(v) || this.$t('signup.messages.error_email')
      ]
    }
  },
  computed: {
    languageCode () {
      return this.$store.getters.uiLanguage
    },
    messageRules () {
      if (this.feedbackType === 'deleteMe') {
        return []
      } else {
        return [
          v => !!v || this.$t('feedback.minlength'),
          v => v.length > 10 || this.$t('feedback.minlength')
        ]
      }
    }
  },
  methods: {
    async sendFeedback () {
      if (this.$refs.form.validate()) {
        try {
          const json = {
            email: this.email,
            message: this.message,
            feedbackType: this.feedbackType
          }
          const response = await httpAction('POST', 'feedback/', json)
          console.log('GIOGO')
          this.showFeedbackDialog = false
          this.message = ''
          this.showFeedbackConfirm = true
          this.$store.commit('ADD_NOTIFICATION', {
            actionDesc: this.$t('feedback.title'),
            message: this.$t('feedback.confirm'),
            type: 'succes'
          })
        } catch (error) {
          this.$store.commit('ADD_NOTIFICATION', {
            actionDesc: this.$t('feedback.title'),
            message: `${JSON.stringify(error)}`,
            type: 'error'
          })
        }
      }
    }
  }
}
</script>
