<template>
  <v-menu bottom left offset-y>
    <template v-slot:activator="{ on }">
      <v-btn
        icon
        dark
        v-on="on"
      >
        <i class="icon-globe" />
      </v-btn>
    </template>
    <v-list>
      <v-list-item
        v-for="language in availableLanguages"
        :key="language.code"
        @click="changeLanguage(language.code)"
      >
        <v-list-item-title>{{ language.name }}</v-list-item-title>
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<script>
import { LANGUAGES } from '../i18n'

export default {
  data: () => ({
    availableLanguages: LANGUAGES
  }),
  methods: {
    changeLanguage (lang) {
      this.$locale.change(lang)
      this.$store.commit('CHANGE_LANGUAGE', lang)
    }
  }
}
</script>
