<template>
  <v-row justify="center">
    <v-col cols="12" md="8" lg="6">
      <v-card class="pt-2">
        <v-img
          height="200px"
          src="static/img/logo.png"
          contain
        />
        <v-card-text>
          <v-alert type="error" colored-border elevation="2">
            <p v-if="this.$store.getters.uiLanguage=='en'"
              >
              This application will be suspended <b>by the end of June</b>. For any further questions, please enquire the <a href="https://www.kardiologie.insel.ch/de/unser-angebot/angeborene-herzfehler">Center for Congenital Heart Diseases at Inselspital</a>.
            </p>
            <p v-else-if="this.$store.getters.uiLanguage=='fr'">
              Cette application aura suspendu <b>dès la fin du juin</b>. Pour des questions, veuillez-bien contacter le <a href="https://www.kardiologie.insel.ch/de/unser-angebot/angeborene-herzfehler"> "Zentrum für angeborene Herzfehler (ZAH)"</a>.
            </p>
            <p v-else>
              Der Betrieb dieser Applikation wird <b>per Ende Juni</b> eingestellt. Bei Fragen kontaktieren Sie bitte das <a href="https://www.kardiologie.insel.ch/de/unser-angebot/angeborene-herzfehler">Zentrum für angeborene Herzfehler</a>.
            </p>
          </v-alert>
          <v-tabs
            v-model="active"
            background-color="primary"
            dark
            grow
          >
            <v-tab href="#login">
              {{ $t('login.title') }}
            </v-tab>
            <v-tab href="#signup">
              {{ $t('signup.title') }}
            </v-tab>
            <v-tabs-slider
              style="height: 4px;"
              color="accent"
            />
            <v-tab-item value="login">
              <login />
            </v-tab-item>
            <v-tab-item
              value="signup"
            >
              <signup />
            </v-tab-item>
          </v-tabs>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import Login from './login/Login.vue'
import Signup from './signup/Signup.vue'
import { apiHost } from '../common-http'

export default {
  components: {
    Login,
    Signup
  },
  data () {
    return {
      tabs: ['login', 'signup'],
      active: null,
      url: apiHost
    }
  },
  computed: {
    errors () {
      return this.$store.getters['errorLog/errors']
    }
  }
}
</script>
