<template>
  <div>
    <Spinner v-if="isLoading" />
    <v-container
      v-else-if="examinatedUserMedInfoList.length > 0"
      fluid
    >
      <v-row>
        <v-col
          class="d-flex align-stretch"
        >
          <v-card>
            <v-card-text>
              <div class="mb-2 text-h5">
                {{ $t('data.groupings.diagnosis') }}
              </div>
              <v-row>
                <v-col cols="12" class="py-2">
                  <LongTextElement
                    field-name="noncardiac_diagnosis"
                    :field-schema="schema.noncardiac_diagnosis"
                    :field-object="examinatedUserMedInfoList[0]"
                    :hint="$t('data.noncardiac_diagnosis_hint')"
                    vuex-namespace="medicalInfo"
                  />
                </v-col>
                <v-col cols="12" class="py-2">
                  <ExtendableSelection
                    field-name="complication"
                    :field-schema="schema.complication"
                    :field-object="examinatedUserMedInfoList[0]"
                    :hint="$t('data.complications_hint')"
                    :options="[
                      $i18n.t('data.complications.stroke'),
                      $i18n.t('data.complications.rhythm_disturbance'),
                      $i18n.t('data.complications.endocarditis'),
                    ]"
                    vuex-namespace="medicalInfo"
                  />
                </v-col>
                <v-col cols="12" class="py-2">
                  <LongTextElement
                    field-name="allergy"
                    :field-schema="schema.allergy"
                    :field-object="examinatedUserMedInfoList[0]"
                    vuex-namespace="medicalInfo"
                  />
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-col>
        <v-col
          class="d-flex align-stretch"
        >
          <v-card width="100%">
            <v-card-text>
              <div class="mb-2 text-h5">
                {{ $t('data.groupings.drugs') }}
              </div>
              <v-row>
                <v-col cols="12">
                  <DrugElement
                    field-name="drug"
                    :field-schema="schema.drug"
                    :field-object="examinatedUserMedInfoList[0]"
                    :hint="$i18n.t('data.drug_hint')"
                    vuex-namespace="medicalInfo"
                  />
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-col>
        <v-col
          class="d-flex align-stretch"
        >
          <v-card>
            <v-card-text>
              <div class="mb-2 text-h5">
                {{ $t('data.groupings.medical_recommendations') }}
              </div>
              <v-row>
                <v-col cols="12" class="py-2">
                  <ExtendableSelection
                    field-name="sport"
                    :field-schema="schema.sport"
                    :field-object="examinatedUserMedInfoList[0]"
                    :hint="$t('data.sports_hint')"
                    :options="[
                      $i18n.t('data.sports_restrictions.endurance'),
                      $i18n.t('data.sports_restrictions.power'),
                      $i18n.t('data.sports_restrictions.competitions'),
                      $i18n.t('data.sports_restrictions.diving')
                    ]"
                    vuex-namespace="medicalInfo"
                  />
                </v-col>
                <v-col cols="12" class="py-2">
                  <ExtendableSelection
                    field-name="contraception"
                    :field-schema="schema.contraception"
                    :field-object="examinatedUserMedInfoList[0]"
                    :options="[
                      $i18n.t('data.contraceptions.no_restriction'),
                      $i18n.t('data.contraceptions.no_estrogen'),
                      $i18n.t('data.contraceptions.reliable_contraception')
                    ]"
                    vuex-namespace="medicalInfo"
                  />
                </v-col>
                <v-col cols="12" class="py-0">
                  <NullBooleanElement
                    field-name="endocarditis_prophylaxis"
                    :field-schema="schema.endocarditis_prophylaxis"
                    :field-object="examinatedUserMedInfoList[0]"
                    vuex-namespace="medicalInfo"
                  />
                </v-col>
                <v-col cols="12" class="py-0">
                  <NullBooleanElement
                    field-name="air_filter"
                    :field-schema="schema.air_filter"
                    :field-object="examinatedUserMedInfoList[0]"
                    vuex-namespace="medicalInfo"
                  />
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-col>
        <v-col
          class="d-flex align-stretch"
        >
          <v-card>
            <v-card-text>
              <div class="mb-2 text-h5">
                {{ $t('data.groupings.pacemaker') }}
              </div>
              <v-row>
                <v-col cols="12" class="py-0">
                  <NullBooleanElement
                    field-name="icd"
                    :field-schema="schema.icd"
                    :field-object="examinatedUserMedInfoList[0]"
                    vuex-namespace="medicalInfo"
                  />
                </v-col>
                <v-col
                  v-if="examinatedUserMedInfoList[0]['icd']===true"
                  cols="12"
                >
                  <ExtendableSelection
                    field-name="icd_brand_model"
                    :field-schema="schema.icd_brand_model"
                    :field-object="examinatedUserMedInfoList[0]"
                    :options="[
                      'Boston', 'Guidant', 'Medtronic', 'SJM',
                    ]"
                    vuex-namespace="medicalInfo"
                  />
                </v-col>
                <v-col cols="12" class="py-0">
                  <NullBooleanElement
                    field-name="pacemaker"
                    :field-schema="schema.pacemaker"
                    :field-object="examinatedUserMedInfoList[0]"
                    vuex-namespace="medicalInfo"
                  />
                </v-col>
                <v-col
                  v-if="examinatedUserMedInfoList[0]['pacemaker']===true"
                  cols="12"
                >
                  <ExtendableSelection
                    field-name="pacemaker_brand_model"
                    :field-schema="schema.pacemaker_brand_model"
                    :field-object="examinatedUserMedInfoList[0]"
                    :options="[
                      'Boston', 'Guidant', 'Medtronic', 'SJM',
                    ]"
                    vuex-namespace="medicalInfo"
                  />
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-col>
        <v-col
          class="d-flex align-stretch"
        >
          <v-card>
            <v-card-text>
              <div class="mb-2 text-h5">
                {{ $t('data.groupings.documents') }}
              </div>
              <v-row>
                <v-col cols="12" class="py-0">
                  <NullBooleanElement
                    field-name="living_will"
                    :field-schema="schema.living_will"
                    :field-object="examinatedUserMedInfoList[0]"
                    vuex-namespace="medicalInfo"
                  />
                </v-col>
                <v-col cols="12" class="py-0">
                  <NullBooleanElement
                    field-name="organ_donor_card"
                    :field-schema="schema.organ_donor_card"
                    :field-object="examinatedUserMedInfoList[0]"
                    vuex-namespace="medicalInfo"
                  />
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import NullBooleanElement from './elements/NullBooleanElement.vue'
import LongTextElement from './elements/LongTextElement.vue'
import Spinner from './Spinner.vue'
import ExtendableSelection from './elements/ExtendableSelection.vue'
import DrugElement from './elements/DrugElement.vue'

import { createNamespacedHelpers } from 'vuex'
const { mapState } = createNamespacedHelpers('medicalInfo')

export default {
  components: {
    NullBooleanElement,
    LongTextElement,
    Spinner,
    ExtendableSelection,
    DrugElement
  },
  computed: {
    ...mapState(['list', 'schema']),
    isLoading () {
      return this.$store.getters['medicalInfo/isLoading']
    },
    examinatedUserMedInfoList () {
      return this.list.filter(x => x.user === this.$store.getters.userUnderExamination.pk)
    }
  }
}
</script>
