<template>
  <v-row justify="center">
    <v-col cols="12" md="8" lg="6">
      <v-card class="pt-2">
        <v-img
          height="200px"
          src="static/img/logo.png"
          contain
        />
        <v-card-text>
          <p>
            {{ $t('not_found.messages.404') }}
          </p>
          <router-link :to="{ name: 'home' }">
            {{ $t('not_found.messages.home') }}
          </router-link>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>
