<template>
<v-bottom-sheet
  v-model="showBottomSheet"
  >
  <v-sheet
    color="unibasGrey"
    >
    <v-subheader
      class="d-flex justify-space-between"
      >
      <!-- TODO translation -->
      <h3 class="info--text">
        Notifikationen
      </h3>
      <v-btn
        icon
        @click="$store.commit('TOGGLE_BOTTOMSHEET')"
        >
        <v-icon color="info">
          fa-times-circle
        </v-icon>
      </v-btn>
    </v-subheader>
    <div
      v-for="(noti, index) in notiList"
      :key="index"
      class="d-flex align-center"
      >
      <v-icon class="ma-3" x-small style="width: 5%;" color="info">
        {{ translateTypeToIcon(noti.type) }}
      </v-icon>
      <span class="info--text" style="width: 10%;">{{ formatDate(noti.date) }}</span>
      <span class="info--text mr-3" style="width: 20%;">{{ noti.actionDesc }}</span>
      <span class="info--text mr-2" style="width: 60%;">{{ noti.message }}</span>
      <v-btn icon style="width: 5%;" @click.native="$store.commit('REMOVE_PERSISTENT_NOTIFICATION', index)">
        <v-icon x-small color="info">
          fa-trash-alt
        </v-icon>
      </v-btn>
    </div>
  </v-sheet>
</v-bottom-sheet>
</template>
<script>
import { formatDate } from '../utils'
export default {
  data: () => ({
    showNotificationSheet: false
  }),
  computed: {
    showBottomSheet: {
      get () {
        return this.$store.getters.showBottomSheet
      },
      set () {
        this.$store.commit('TOGGLE_BOTTOMSHEET')
      }
    },
    notiList () {
      const notiList = this.$store.getters.notificationList
      if (notiList.length === 0) {
        this.$store.commit('TOGGLE_BOTTOMSHEET', false)
      }
      return notiList
    }
  },
  methods: {
    formatDate (date) {
      return formatDate(date)
    },
    translateTypeToIcon (type) {
      if (type === 'error') return 'fa-bomb'
      else if (type === 'debug') return 'fa-bug'
      else if (type === 'success') return 'fa-check-circle'
      else return 'fa-info-circle'
    },
    showNotificationTemporarely (seconds) {
      this.showNotificationSheet = true
      setTimeout(() => { this.showNotificationSheet = false }, seconds)
    }
  }
}
</script>
