<template>
<div>
  <Spinner v-if="isLoading" />
  <v-container
    v-else-if="$store.getters.userUnderExamination != null"
    fluid
    >
    <v-row>
      <v-col
        class="d-flex align-stretch"
        >
        <v-card>
          <v-card-text>
            <div class="text--secondary text-h5">
              {{ $t('data.groupings.contact_details') }}
            </div>
            <v-row>
              <v-col cols="12" class="py-2">
                <ShortTextElement
                  field-name="first_name"
                  :field-schema="userSchema.first_name"
                  :field-object="userData"
                  vuex-namespace="user"
                  />
              </v-col>
              <v-col cols="12" class="py-2">
                <ShortTextElement
                  field-name="last_name"
                  :field-schema="userSchema.last_name"
                  :field-object="userData"
                  vuex-namespace="user"
                  />
              </v-col>
              <v-col cols="12" class="py-2">
                <DateElement
                  field-name="birthday"
                  :field-schema="userSchema.birthday"
                  :field-object="userData"
                  vuex-namespace="user"
                  />
              </v-col>
              <v-col cols="12" class="py-2">
                <ShortTextElement
                  field-name="email"
                  :field-schema="userSchema.email"
                  :field-object="userData"
                  vuex-namespace="user"
                  />
              </v-col>
              <v-col cols="12" class="py-2">
                <ShortTextElement
                  render-phonenumber
                  field-name="phone"
                  :field-schema="userSchema.phone"
                  :field-object="userData"
                  vuex-namespace="user"
                  />
              </v-col>
              <v-col cols="12" class="py-2">
                <LongTextElement
                  field-name="address"
                  :field-schema="userSchema.address"
                  :field-object="userData"
                  vuex-namespace="user"
                  />
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col
        class="d-flex align-stretch"
        >
        <v-card>
          <Spinner v-if="medInfoIsLoading" />
          <v-card-text v-else @click="createMedInfoObjectIfNotExistingYet()">
            <span class="secondary--text text-h5">
              {{ $t('data.groupings.medical_care') }}
            </span>
            <v-row>
              <v-col cols="12" class="py-2">
                <LongTextElement
                  render-phonenumber
                  field-name="cardiologist"
                  :field-object="examinatedUserMedInfoList[0]"
                  :field-schema="medicalSchema.cardiologist"
                  vuex-namespace="medicalInfo"
                  />
              </v-col>
              <v-col cols="12" class="py-2">
                <LongTextElement
                  render-phonenumber
                  field-name="care_contact"
                  :field-schema="medicalSchema.care_contact"
                  :field-object="examinatedUserMedInfoList[0]"
                  vuex-namespace="medicalInfo"
                  />
              </v-col>
              <v-col cols="12" class="py-2">
                <LongTextElement
                  render-phonenumber
                  field-name="family_doctor"
                  :field-schema="medicalSchema.family_doctor"
                  :field-object="examinatedUserMedInfoList[0]"
                  vuex-namespace="medicalInfo"
                  />
              </v-col>
              <v-col cols="12" class="py-2">
                <HeartCenterElement
                  field-name="heart_center_list"
                  :field-schema="heartCenterListSchema"
                  :field-object="userData"
                  vuex-namespace="user"
                  />
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col
        class="d-flex align-stretch"
        >
        <v-card>
          <Spinner v-if="$store.getters['user/isLoading']" />
          <v-card-text v-else>
            <v-btn
              v-if="$store.getters.mode.mode !== 'view'"
              color="primary"
              dark
              absolute
              top
              right
              small
              fab
              @click="addRelative()"
            >
              <v-icon dark>
                mdi-account-plus
              </v-icon>
            </v-btn>
            <span class="secondary--text text-h5">
              {{ $t('data.groupings.dependents') }}
            </span>
            <RelativeList />
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</div>
</template>

<script>
import DateElement from './elements/DateElement.vue'
import LongTextElement from './elements/LongTextElement.vue'
import ShortTextElement from './elements/ShortTextElement.vue'
import HeartCenterElement from './elements/HeartCenterElement.vue'
import RelativeList from './elements/RelativeList.vue'
import Spinner from './Spinner.vue'

export default {
  components: {
    DateElement,
    LongTextElement,
    ShortTextElement,
    HeartCenterElement,
    RelativeList,
    Spinner
  },
  computed: {
    userData () {
      return this.$store.getters.userUnderExamination ||
        this.$store.getters['user/list'].find(
          x => x.pk === this.$store.getters['authenticatedUser/data'].pk
        )
    },
    userSchema () {
      return this.$store.getters['user/schema']
    },
    medicalSchema () {
      return this.$store.getters['medicalInfo/schema']
    },
    examinatedUserMedInfoList () {
      return this.$store.getters['medicalInfo/list'].filter(x => x.user === this.$store.getters.userUnderExamination.pk)
    },
    heartCenterListSchema () {
      return this.$store.getters['heartCenter/schema']
    },
    isLoading () {
      return this.$store.getters['user/isLoading']
    },
    medInfoIsLoading () {
      return this.$store.getters['medicalInfo/isLoading']
    }
  },

  methods: {
    createMedInfoObjectIfNotExistingYet () {
      // a fresh patient doesnt have a medicalInfo object. It will be created
      // as soon as the user clicks on 'create medical info' in the side nav.
      // Since we moved some attributes of the medical info to the 'personal
      // info' page, we need to create a medical info first object when the
      // user starts to enter data here.
      if (this.examinatedUserMedInfoList.length === 0) {
        this.$store.commit('medicalInfo/ADD_OBJECT', {
          user: this.$store.getters.userUnderExamination.pk
        })
      }
    },
    addRelative () {
      this.$store.commit('relativeInfo/ADD_OBJECT', {
        user: this.$store.getters.userUnderExamination.pk,
        name: '',
        relation: '',
        phone: ''
      })
    }
  }
}
</script>
