<template>
  <v-navigation-drawer
    v-if="isLoggedIn"
    :value="showDrawer"
    :mini-variant="$store.getters.showMini"
    mobile-break-point="1024"
    app
    clipped
    stateless
  >
    <v-list v-if="isAdmin || isExpert" two-line>
      <SelectUser />
      <v-divider />
    </v-list>
    <v-list subheader>
      <SideNavLink
        vuex-name="user"
        target="home"
        icon="mdi-clipboard-account-outline"
      />
      <SideNavLink
        vuex-name="medicalInfo"
        target="medical-info"
        icon="mdi-clipboard-pulse-outline"
      />
      <SideNavLink
        vuex-name="heartDiagnosis"
        target="heart-diagnosis"
        icon="mdi-heart-outline"
      />
      <SideNavLink
        vuex-name="heartIntervention"
        target="heart-intervention"
        icon="mdi-heart-pulse"
      />
    </v-list>
    <v-divider />
    <v-list>
      <v-list-item exact>
        <v-list-item-action @click="changeMode">
          <v-btn v-if="isViewMode" fab x-small dark color="info">
            <v-icon>
              mdi-pencil-outline
            </v-icon>
          </v-btn>
          <v-btn v-else fab x-small dark color="info">
            <v-icon>
              mdi-content-save-outline
            </v-icon>
          </v-btn>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title>
            {{ $t('app.edit_data') }}
          </v-list-item-title>
          <v-list-item-subtitle>
            <router-link
              :to="{ name: 'impressum-unauthorized', hash: '#privacy' }"
            >
              {{ $t('sidenav.privacy_policy') }}
            </router-link>
          </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
    </v-list>
    <v-divider />
  </v-navigation-drawer>
</template>

<script>
import SideNavLink from './elements/SideNavLink.vue'
import SelectUser from './elements/SelectUser.vue'

export default {
  name: 'Sidenav',
  components: {
    SelectUser,
    SideNavLink
  },
  computed: {
    isLoggedIn: function () {
      return this.$store.getters.isLoggedIn
    },
    isViewMode () {
      return this.$store.getters.mode.mode === 'view'
    },
    isAdmin () {
      return this.$store.getters['authenticatedUser/isAdmin']
    },
    isExpert () {
      return this.$store.getters['authenticatedUser/isExpert']
    },
    showDrawer: {
      set: function (value) {
        console.log('set drawer value', value)
        this.$store.commit('SET_DRAWER', value)
      },
      get: function () {
        return this.$store.getters.showDrawer
      }
    },
    isMobile () {
      return this.$vuetify.breakpoint.mdAndDown
    }
  },

  methods: {
    changeMode (mode) {
      const route = this.$router.history.current
      if (route.meta.edit) {
        this.$router.push({ name: route.name.replace('edit-', '') })
      } else {
        this.$router.push({ name: `edit-${route.name}` })
      }
    }
  }
}
</script>
