<template>
  <v-snackbar
    ref="snackbar"
    v-model="snackbar"
    :timeout="0"
  >
    <div class="d-flex flex-column justify-content">
      <div
        v-for="(noti, index) in $store.getters.notificationNewsList"
        :key="index"
        class="d-flex align-center justify-space-between"
      >
        <span class="info--text mr-3">{{ fDate(noti.date) }}</span><span class="info--text font-weight-bold">{{ noti.actionDesc }}</span>
        <span class="info--text mr-3">{{ noti.message }}</span>
        <v-btn class="pa-0 ma-0" icon @click.native="$store.commit('REMOVE_NOTIFICATION', index)">
          <v-icon x-small color="info">
            fa-trash-alt
          </v-icon>
        </v-btn>
      </div>
    </div>
  </v-snackbar>
</template>
<script>
import { formatDate } from '../utils'
export default {
  computed: {
    snackbar () {
      if (this.$store.getters.notificationNewsList.length > 0) {
        return true
      } else {
        return false
      }
    }
  },
  methods: {
    fDate (date) {
      return formatDate(date)
    }
  }
}
</script>
