<template>
  <div>
    <div class="centered">
      <v-progress-circular :size="60" indeterminate color="primary" />
      <p v-if="inTime === false" class="error-text">
        {{ $t('app.spinner.part1') }}<router-link :to="{ name: 'logout' }">
          {{ $t('app.logout') | lowercase }}
        </router-link>{{ $t('app.spinner.part2') }}
      </p>
    </div>
  </div>
</template>

<style>
.centered {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.error-text {
  padding-top: 20px;
  height: 0px;
  min-width: 200px;
  overflow: visible;
}
</style>

<script>
export default {
  data () {
    return {
      inTime: true
    }
  },
  mounted () {
    setTimeout(() => {
      this.inTime = false
    }, 5000)
  }
}
</script>
