<template>
<v-footer
  v-if="isLoggedIn"
  id="heartapp-footer"
  color="unibasGrey"
  app
  class="d-flex justify-space-around"
  >
  <div>
    <div v-if="isVerified" class="success--text">
      <v-icon color="success">
        mdi-shield-check
      </v-icon>
      <span>{{ $t('toolbar.verified') }}</span>
    </div>
    <div v-else class="info--text">
      <v-icon color="info">
        fa-exclamation
      </v-icon>
      <span>{{ $t('toolbar.not_verified') }}</span>
    </div>
  </div>
  <div
    v-if="true"
    class="ml-auto"
    >
    <v-badge
      :value="$store.getters.notificationNewsList.length > 0"
      icon="fa-bomb"
      >
      <v-icon
        color="info"
        @click="$store.commit('TOGGLE_BOTTOMSHEET')"
        >
        fa-bell
      </v-icon>
    </v-badge>
  </div>
</v-footer>
</template>

<script>
export default {
  name: 'Statusbar',
  computed: {
    isVerified () {
      return this.$store.getters['medicalInfo/list'].length > 0 &&
        this.$store.getters.userUnderExamination &&
        this.$store.getters.userUnderExamination.verified === true
    },
    isExpert () {
      return this.$store.getters['authenticatedUser/isExpert']
    },
    isAdmin () {
      return this.$store.getters['authenticatedUser/isAdmin']
    },
    isLoggedIn: function () {
      return this.$store.getters.isLoggedIn
    }
  }
}
</script>
