<template>
<div>
  <v-app-bar
    color="primary"
    dark
    app
    clipped-left
    >
    <v-app-bar-nav-icon
      icon
      dark
      @click.stop="$store.commit('CIRCLE_DRAWER_STATE')"
      />
    <v-toolbar-title>{{ $t('app.title') }}</v-toolbar-title>
    <v-spacer />
    <div class="d-flex flex-column justify-space-between mr-1">
      <v-tooltip
        v-if="$store.getters['authenticatedUser/isExpert']"
        bottom
        >
        <template v-slot:activator="{ on }">
          <v-icon small v-on="on">
            mdi-stethoscope
          </v-icon>
        </template>
        <span> {{ $t('app.role_info') }} {{ $t('data.expert') }} </span>
      </v-tooltip>
      <v-tooltip
        v-if="$store.getters['authenticatedUser/isAdmin']"
        bottom
        >
        <template v-slot:activator="{ on }">
          <v-icon small v-on="on">
            mdi-cog
          </v-icon>
        </template>
        <span>{{ $t('app.role_info') }} {{ $t('data.admin') }} </span>
      </v-tooltip>
    </div>
    <div
      :title="email"
      >
      {{ shortenedEmail }}
    </div>
    <AppPreferences />
  </v-app-bar>
</div>
</template>
<script>
import AppPreferences from '../components/AppPreferences.vue'

export default {
  name: 'Toolbar',
  components: {
    AppPreferences
  },
  computed: {
    email () {
      if (this.$store.getters['authenticatedUser/isLoading']) {
        return ''
      } else {
        return this.$store.getters['authenticatedUser/data'].email
      }
    },
    shortenedEmail () {
      if (this.$vuetify.breakpoint.name === 'xs' && this.email.length >= 20) {
        return this.email.substr(0, 17) + '...'
      } else {
        return this.email
      }
    }
  },
  methods: {
    toggleDrawer: function () {
      this.$store.commit('TOGGLE_DRAWER')
    }
  }
}
</script>
