<template>
  <div>
    <v-menu
      v-if="!isViewMode"
      ref="menu"
      v-model="menu"
      :close-on-content-click="false"
      transition="scale-transition"
      offset-y
      :nudge-right="40"
      min-width="290px"
    >
      <template #activator="{ on }">
        <v-text-field
          v-model="inputModel"
          :label="$t('data.' + fieldName)"
          :name="fieldName"
          prepend-icon="mdi-calendar"
          readonly
          v-on="on"
        />
      </template>
      <v-date-picker
        ref="picker"
        v-model="inputModel"
        :label="$t('data.' + fieldName)"
        :max="new Date().toISOString().substr(0, 10)"
        :required="fieldSchema.required"
        :readonly="fieldSchema.read_only"
        @change="save"
      />
    </v-menu>
    <div v-else :style="`opacity: ${getOpacity};`">
      <div v-if="!hideLabel" class="text-caption">
        {{ $t(`data.${fieldName}`) }}
      </div>
      <div
        :id="fieldName"
        class="text--primary pl-2"
        v-html="display_value"
      >
      </div>
    </div>
  </div>
</template>
<script>
import i18n from '../../i18n.js'
export default {
  props: {
    fieldSchema: {
      type: Object,
      default: null
    },
    fieldObject: {
      type: Object,
      default: null
    },
    fieldName: {
      type: String,
      default: ''
    },
    vuexNamespace: {
      type: String,
      default: ''
    },
    hideLabel: {
      type: Boolean,
      default: false
    },
    renderPhonenumber: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      menu: false
    }
  },
  computed: {
    display_value () {
      if (this.inputModel.length === 0) {
        return i18n.t('data.indetermined')
      } else if (this.renderPhonenumber) {
        return this.$options.filters.phonify(this.fieldObject[this.fieldName])
      } else {
        return this.fieldObject[this.fieldName]
      }
    },
    inputModel: {
      get () {
        if (this.fieldObject[this.fieldName]) {
          return this.fieldObject[this.fieldName]
        } else return ''
      },
      set (value) {
        const payload = {
          fieldObject: this.fieldObject,
          fieldName: this.fieldName,
          data: value
        }
        this.$store.commit(`${this.vuexNamespace}/UPDATE_ATTRIBUTE`, payload)
      }
    },
    isViewMode () {
      return this.$store.getters.mode.mode === 'view'
    },
    getOpacity () {
      if (this.inputModel.length === 0) return 0.3
      else return 1
    }
  },
  watch: {
    menu (val) {
      val && this.$nextTick(() => (this.$refs.picker.activePicker = 'YEAR'))
    }
  },
  methods: {
    save (date) {
      this.$refs.menu.save(date)
    }
  }
}
</script>
