<template>
  <div>
    <v-data-table
      :headers="headers"
      :items="inputModel"
    >
      <template #[`item.action`]="props">
        <td class="text-center px-0">
          <v-btn icon class="mx-0" @click="editItem(props.item)">
            <v-icon color="success">
              mdi-file-document-edit-outline
            </v-icon>
          </v-btn>
          <v-btn icon class="mx-0" @click="deleteItem(props.item)">
            <v-icon color="error">
              mdi-delete
            </v-icon>
          </v-btn>
        </td>
      </template>
    </v-data-table>
    <v-dialog v-if="!isViewMode" v-model="dialog">
      <template #activator="{ on }">
        <v-btn
          color="primary"
          dark
          class="mb-2"
          v-on="on"
        >
          {{ $t('data.drug_wizard.add') }}
        </v-btn>
      </template>
      <v-card>
        <v-card-text>
          <!-- <v-container grid-list-md> -->
          <v-container>
            <v-row>
              <v-col cols="12" sm="6" md="4">
                <v-text-field v-model="editedItem.name" :persistent-hint="true" :hint="$t('data.drug_wizard.name_hint')" :label="$t('data.drug_wizard.name')" />
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <v-text-field v-model="editedItem.dosierung" :persistent-hint="true" :hint="$t('data.drug_wizard.dosage_hint')" :label="$t('data.drug_wizard.dosage')" />
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <v-text-field v-model="editedItem.form" :persistent-hint="true" :hint="$t('data.drug_wizard.type_hint')" :label="$t('data.drug_wizard.type')" />
              </v-col>
              <v-col cols="12" sm="6" md="3">
                <v-text-field v-model="editedItem.zmorge" :persistent-hint="true" :hint="$t('data.drug_wizard.time_hint')" :label="$t('data.drug_wizard.time1')" />
              </v-col>
              <v-col cols="12" sm="6" md="3">
                <v-text-field v-model="editedItem.zmittag" :persistent-hint="true" :hint="$t('data.drug_wizard.time_hint')" :label="$t('data.drug_wizard.time2')" />
              </v-col>
              <v-col cols="12" sm="6" md="3">
                <v-text-field v-model="editedItem.zvieri" :persistent-hint="true" :hint="$t('data.drug_wizard.time_hint')" :label="$t('data.drug_wizard.time3')" />
              </v-col>
              <v-col cols="12" sm="6" md="3">
                <v-text-field v-model="editedItem.znacht" :persistent-hint="true" :hint="$t('data.drug_wizard.time_hint')" :label="$t('data.drug_wizard.time4')" />
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn color="error" text @click.native="close">
            {{ $t('data.drug_wizard.cancel') }}
          </v-btn>
          <v-btn color="info" text @click.native="save">
            {{ $t('data.drug_wizard.save') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import i18n from '../../i18n.js'
export default {
  props: {
    fieldObject: {
      type: Object,
      default () { return {} }
    },
    fieldName: {
      type: String,
      default: ''
    },
    vuexNamespace: {
      type: String,
      default: ''
    }
  },
  data: () => ({
    dialog: false,
    editedIndex: -1,
    editedItem: {
      name: '',
      dosierung: '',
      form: '',
      zmorge: 0,
      zmittag: 0,
      zvieri: 0,
      znacht: 0
    },
    defaultItem: {
      name: '',
      dosierung: '',
      form: '',
      zmorge: 0,
      zmittag: 0,
      zvieri: 0,
      znacht: 0
    }
  }),

  computed: {
    headers () {
      if (this.isViewMode) {
        return [
          { text: i18n.t('data.drug_wizard.name'), value: 'name', class: 'px-1' },
          { text: i18n.t('data.drug_wizard.dosage'), value: 'dosierung', class: 'px-1' },
          { text: i18n.t('data.drug_wizard.type'), value: 'form', class: 'px-1' },
          { text: i18n.t('data.drug_wizard.time1'), value: 'zmorge', sortable: false, class: 'px-1', align: 'center' },
          { text: i18n.t('data.drug_wizard.time2'), value: 'zmittag', sortable: false, class: 'px-1', align: 'center' },
          { text: i18n.t('data.drug_wizard.time3'), value: 'zvieri', sortable: false, class: 'px-1', align: 'center' },
          { text: i18n.t('data.drug_wizard.time4'), value: 'znacht', sortable: false, class: 'px-1', align: 'center' }
        ]
      } else {
        return [
          { text: i18n.t('data.drug_wizard.name'), value: 'name', class: 'px-1' },
          { text: i18n.t('data.drug_wizard.dosage'), value: 'dosierung', class: 'px-1' },
          { text: i18n.t('data.drug_wizard.type'), value: 'form', class: 'px-1' },
          { text: i18n.t('data.drug_wizard.time1'), value: 'zmorge', sortable: false, class: 'px-1', align: 'center' },
          { text: i18n.t('data.drug_wizard.time2'), value: 'zmittag', sortable: false, class: 'px-1', align: 'center' },
          { text: i18n.t('data.drug_wizard.time3'), value: 'zvieri', sortable: false, class: 'px-1', align: 'center' },
          { text: i18n.t('data.drug_wizard.time4'), value: 'znacht', sortable: false, class: 'px-1', align: 'center' },
          { text: 'Action', value: 'action', sortable: false, class: 'px-1', width: '80px' }
        ]
      }
    },
    inputModel: {
      get () {
        // Create array from input model json string
        let value = []
        try {
          value = JSON.parse(this.fieldObject[this.fieldName])
        } catch (e) {
          // When json is not valid, it's o.k. to do nothing
          value = []
        }
        return value
      },
      set (value) {
        // Create a json string of the value array
        const jsonValue = JSON.stringify(value)
        const payload = {
          fieldObject: this.fieldObject,
          fieldName: this.fieldName,
          data: jsonValue
        }
        this.$store.commit(`${this.vuexNamespace}/UPDATE_ATTRIBUTE`, payload)
      }
    },
    isViewMode () {
      return this.$store.getters.mode.mode === 'view'
    }
  },

  watch: {
    dialog (val) {
      val || this.close()
    }
  },

  methods: {
    editItem (item) {
      this.editedIndex = this.inputModel.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },
    deleteItem (item) {
      const index = this.inputModel.indexOf(item)
      confirm(i18n.t('data.drug_wizard.delete')) && this.inputModel.splice(index, 1)
      this.inputModel = [...this.inputModel]
    },
    close () {
      this.dialog = false
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      }, 300)
    },
    save () {
      if (this.editedIndex > -1) {
        Object.assign(this.inputModel[this.editedIndex], this.editedItem)
      } else {
        this.inputModel.push(this.editedItem)
      }

      // mystirious fix, but without this line, the new item wont be added to the array
      this.inputModel = [...this.inputModel]
      this.close()
    }
  }
}
</script>
