<template>
  <div>
    <v-combobox v-if="!isViewMode"
                v-model="inputModel"
                multiple
                :label="$t('data.' + fieldName)"
                chips
                deletable-chips
                :name="fieldName"
                :maxlength="fieldSchema.max_length"
                :required="fieldSchema.required"
                :readonly="fieldSchema.read_only"
                :items="options"
                :hint="hint"
                persistent-hint
    />
    <div v-else :style="`opacity: ${getOpacity};`">
      <div v-if="!hideLabel" class="text-caption">
        {{ $t(`data.${fieldName}`) }}
      </div>
      <ul v-if="inputModel.length > 0" class="pt-1">
        <li
          v-for="(item, index) in inputModel"
          :id="fieldName"
          :key="index"
          class="text--primary"
          style="font-family: monospace,monospace;"
          >
          {{ item }}
        </li>
      </ul>
      <div
        v-else
        class="text--primary pl-1"
      >
        {{ $t('data.indetermined') }}
      </div>
    </div>
  </div>
</template>

<script>
import i18n from '../../i18n.js'
export default {
  props: {
    hideLabel: {
      type: Boolean,
      default: false
    },
    hint: {
      type: String,
      default: ''
    },
    options: {
      type: Array,
      default () { return [] }
    },
    fieldSchema: {
      type: Object,
      default () { return {} }
    },
    fieldObject: {
      type: Object,
      default () { return {} }
    },
    fieldName: {
      type: String,
      default: ''
    },
    vuexNamespace: {
      type: String,
      default: ''
    }
  },
  computed: {
    display_value () {
      if (this.inputModel.length === 0) {
        return i18n.t('data.indetermined')
      } else {
        return this.inputModel.join('\n')
      }
    },
    inputModel: {
      get () {
        // Create array from input model string
        const value = this.fieldObject[this.fieldName] || ''
        if (value === '') {
          // If the inputModel is empty, return an empty array instead of an array with an empty string.
          return []
        } else {
          return value.split('|')
        }
      },
      set (value) {
        // Create a string of the value array, sparated by '|'
        const joinedValues = value.join('|')
        const payload = {
          fieldObject: this.fieldObject,
          fieldName: this.fieldName,
          data: joinedValues
        }
        this.$store.commit(`${this.vuexNamespace}/UPDATE_ATTRIBUTE`, payload)
      }
    },
    isViewMode () {
      return this.$store.getters.mode.mode === 'view'
    },
    isIndetermined () {
      return this.inputModel.length === 0
    },
    getOpacity () {
      if (this.inputModel.length === 0) return 0.3
      else return 1
    }
  }
}
</script>
