<template>
<v-card flat>
  <div
    class="d-flex justify-space-between"
    >
    <span class="text--primary">
      {{ getHeartCenterObjectFromId(hcId).name }}
    </span>
    <v-btn
      icon
      x-small
      @click="show = !show"
      >
      <v-icon x-small>
        {{ show ? 'mdi-chevron-up' : 'mdi-chevron-down' }}
      </v-icon>
    </v-btn>
  </div>
  <v-expand-transition>
    <div v-show="show" class="pl-2">
      <pre
        class="text-caption"
        v-html="`${getHeartCenterObjectFromId(hcId).address}`"
        >{{ getHeartCenterObjectFromId(hcId).address }}
      </pre>
      <a
        class="text-caption"
        :href="`tel:${getHeartCenterObjectFromId(hcId).phone}`"
      >
        {{ getHeartCenterObjectFromId(hcId).phone }}
      </a>
    </div>
  </v-expand-transition>
</v-card>
</template>

<script>
export default {
  props: {
    hcId: {
      type: Number,
      default: undefined
    }
  },
  data: () => ({
    show: false
  }),
  computed: {
    heartCenterList: function () {
      return this.$store.getters['heartCenter/list']
    }
  },
  methods: {
    getHeartCenterObjectFromId (id) {
      return this.heartCenterList.filter(p => p.id === id)[0]
    }
  }
}
</script>
