<template>
  <div>
    <Spinner v-if="isLoading" />
    <div v-else id="heart-center-select-test-anchor">
      <v-select v-if="!isViewMode"
                v-model="inputModel"
                :label="$t('heartcenter.choose')"
                chips
                multiple
                :items="heartCenterList"
                item-value="id"
                item-text="name"
                :hint="$t('heartcenter.hint')"
                persistent-hint
      >
        <template slot="selection" slot-scope="data">
          <v-chip
            :key="JSON.stringify(data.item)"
            :input-value="data.selected"
            class="chip--select-multi"
            @input="data.parent.selectItem(data.item)"
          >
            {{ data.item.short_name }}
          </v-chip>
        </template>
      </v-select>
      <div v-else :style="`opacity: ${getOpacity};`">
        <div class="text-caption">
          {{ $t(`data.${fieldName}`) }}
        </div>
        <div
          v-for="hc in inputModel"
          :key="hc"
          class="text--primary pl-1"
          >
          <HeartCenterCard class="py-1"
            :hc-id="hc"
            />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import HeartCenterCard from '../../components/elements/HeartCenterCard.vue'
import Spinner from '../../components/Spinner.vue'
export default {
  components: {
    HeartCenterCard,
    Spinner
  },
  props: {
    fieldSchema: {
      type: Object,
      default () { return {} }
    },
    fieldObject: {
      type: Object,
      default () { return {} }
    },
    fieldName: {
      type: String,
      default: ''
    },
    vuexNamespace: {
      type: String,
      default: ''
    }
  },
  computed: {
    isLoading () {
      return this.$store.getters[`${this.vuexNamespace}/isLoading`]
    },
    heartCenterList: function () {
      return this.$store.getters['heartCenter/list']
    },
    inputModel: {
      get () {
        return this.fieldObject[this.fieldName] || []
      },
      set (value) {
        var payload = {
          fieldObject: this.fieldObject,
          fieldName: this.fieldName,
          data: value
        }
        this.$store.commit(`${this.vuexNamespace}/UPDATE_ATTRIBUTE`, payload)
      }
    },
    isViewMode () {
      return this.$store.getters.mode.mode === 'view'
    },
    isIndetermined () {
      return this.inputModel.length === 0
    },
    getOpacity () {
      if (this.inputModel.length === 0) return 0.3; else return 1
    }
  }
}
</script>
