<template>
  <div>
    <v-textarea v-if="!isViewMode"
                :id="'textarea-' + fieldName"
                v-model="inputModel"
                :label="$t('data.' + fieldName)"
                :hint="hint"
                :persistent-hint="hint.length > 0"
                :name="fieldName"
                auto-grow
                :required="fieldSchema.required"
                :readonly="fieldSchema.read_only"
                :rows="calculateRows"
    />
    <div v-else :style="`opacity: ${getOpacity};`">
      <div v-if="!hideLabel" class="text-caption">
        {{ $t(`data.${fieldName}`) }}
      </div>
      <pre
        :id="fieldName"
        class="text--primary pl-1"
        style="white-space: pre-wrap;"
        v-html="display_value"
      />
    </div>
  </div>
</template>

<script>
import i18n from '../../i18n.js'
export default {
  props: {
    hint: {
      type: String,
      default: ''
    },
    fieldSchema: {
      type: Object,
      default () { return {} }
    },
    fieldName: {
      type: String,
      default: ''
    },
    vuexNamespace: {
      type: String,
      default: ''
    },
    fieldObject: {
      type: Object,
      default () { return {} }
    },
    hideLabel: {
      type: Boolean,
      default: false
    },
    renderPhonenumber: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    calculateRows: {
      get () {
        const rows = this.inputModel.split(/\r\n|\r|\n/).length
        return rows > 1 ? rows : 2
      }
    },
    display_value () {
      if (this.inputModel.length === 0) {
        return i18n.t('data.indetermined')
      } else if (this.renderPhonenumber) {
        return this.$options.filters.phonify(this.inputModel)
      } else {
        return this.inputModel
      }
    },
    inputModel: {
      get () {
        return this.fieldObject[this.fieldName] || ''
      },
      set (value) {
        var payload = {
          fieldObject: this.fieldObject,
          fieldName: this.fieldName,
          data: value
        }
        this.$store.commit(`${this.vuexNamespace}/UPDATE_ATTRIBUTE`, payload)
      }
    },
    isViewMode () {
      return this.$store.getters.mode.mode === 'view'
    },
    isIndetermined () {
      return this.inputModel.length === 0
    },
    getOpacity () {
      if (this.inputModel.length === 0) return 0.3
      else return 1
    }
  }
}
</script>
