<template>
  <div>
    <div
      v-if="!isViewMode"
    >
      <v-switch
        v-model="inputModel"
        :label="labelText"
        :name="fieldName"
        :required="fieldSchema.required"
        :readonly="fieldSchema.read_only"
        :error-messages="errorMsgsList"
      />
    </div>
    <div
      v-else
      :style="`opacity: ${getOpacity};`"
      class="d-flex justify-space-between"
    >
      <div v-if="!hideLabel" class="text-caption">
        {{ $t(`data.${fieldName}`) }}
      </div>
      <div
        :id="fieldName"
        class="text--primary"
      >
        {{ displayValue }}
      </div>
    </div>
  </div>
</template>
<script>
import i18n from '../../i18n.js'
export default {
  props: {
    fieldSchema: {
      type: Object,
      default () { return {} }
    },
    fieldName: {
      type: String,
      default: ''
    },
    vuexNamespace: {
      type: String,
      default: ''
    },
    fieldObject: {
      type: Object,
      default: null
    },
    hideLabel: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    errorMsgsList () {
      const fe = this.$store.getters[`${this.vuexNamespace}/fieldErrors`]
      console.log('errorMsgsList')
      console.log(this.vuexNamespace)
      if (fe) {
        console.log(fe)
        if (fe[this.fieldName]) return fe[this.fieldName]
        return []
      }
      return []
    },
    inputModel: {
      get () { return this.fieldObject[this.fieldName] },
      set (value) {
        var payload = {
          fieldObject: this.fieldObject,
          fieldName: this.fieldName,
          data: value
        }
        this.$store.commit(`${this.vuexNamespace}/UPDATE_ATTRIBUTE`, payload)
      }
    },
    isViewMode () { return this.$store.getters.mode.mode === 'view' },
    getOpacity () { if (this.inputModel === null) return 0.3; else return 1 },
    labelText () {
      if (this.inputModel) {
        return `${i18n.t('data.' + this.fieldName)}: ${i18n.t('data.true')}`
      } else if (this.inputModel === false) {
        return `${i18n.t('data.' + this.fieldName)}: ${i18n.t('data.false')}`
      } else {
        return `${i18n.t('data.' + this.fieldName)}: ${i18n.t('data.indetermined')}`
      }
    },
    displayValue () {
      if (this.inputModel) {
        return i18n.t('data.true')
      } else if (this.inputModel === false) {
        return i18n.t('data.false')
      } else {
        return i18n.t('data.indetermined')
      }
    }
  }
}
</script>
