<template>
  <v-data-table
    v-if="!$store.getters['user/isLoading']"
    :headers="headers"
    :items="$store.getters['user/list']"
  >
    <template #[`item.verified`]="{ item }">
      <v-icon
        v-if="item.verified"
        color="success"
      >
        mdi-check-circle
      </v-icon>
      <v-icon
        v-else
        color="error"
      >
        fa-ban
      </v-icon>
    </template>
    <template
      v-if="$store.getters['authenticatedUser/isAdmin']"
      #[`item.announce-expert`]="{ item }"
    >
      <v-simple-checkbox
        :disabled="isViewMode"
        :value="item.groups.indexOf('expert') >= 0" @input="bool => updateExpertState(item, bool)"
      />
    </template>
    <template
      v-if="$store.getters['authenticatedUser/isExpert']"
      #[`item.examine-patient`]="{ item }"
    >
      <v-icon
        class="mr-2"
        @click="$store.commit('EXAMINE_USER', item); $router.push({name: 'home'})"
      >
        mdi-eye
      </v-icon>
      <v-icon
        @click="$store.commit('EXAMINE_USER', item); $router.push({name: 'edit-home'})"
      >
        mdi-pencil
      </v-icon>
    </template>
  </v-data-table>
</template>

<script>
import i18n from '../../i18n.js'
export default {
  computed: {
    headers () {
      const headerList = [
        {
          text: i18n.t('data.first_name'),
          align: 'left',
          sortable: true,
          value: 'first_name'
        },
        {
          text: i18n.t('data.last_name'),
          align: 'left',
          sortable: true,
          value: 'last_name'
        },
        {
          text: i18n.t('data.birthday'),
          align: 'left',
          sortable: true,
          value: 'birthday'
        },
        {
          text: i18n.t('toolbar.verified'),
          align: 'center',
          sortable: true,
          value: 'verified'
        }
      ]
      if (this.$store.getters['authenticatedUser/isAdmin']) {
        headerList.unshift({
          text: i18n.t('data.expert'),
          align: 'center',
          sortable: false,
          value: 'announce-expert'
        })
      }
      if (this.$store.getters['authenticatedUser/isExpert']) {
        headerList.push({
          text: i18n.t('app.examine_patient'),
          align: 'center',
          sortable: false,
          value: 'examine-patient'
        })
      }
      return headerList
    },
    isViewMode () {
      return this.$store.getters.mode.mode === 'view'
    }
  },
  methods: {
    updateExpertState (patient, bool) {
      // following creates a duplicate of the users groups array
      const groups = patient.groups.slice()
      const index = groups.indexOf('expert')
      if (index >= 0) {
        groups.splice(index, 1)
      } else {
        groups.push('expert')
      }
      const payload = {
        fieldObject: patient,
        fieldName: 'groups',
        data: groups
      }
      console.log('GROUPS', payload)
      this.$store.commit('user/UPDATE_ATTRIBUTE', payload)
    }
  }
}
</script>
