<template>
  <v-card outlined class="pa-2">
     <v-fab-transition v-if="!isViewMode">
      <v-btn
        color="primary"
        dark
        absolute
        top
        right
        small
        fab
        @click="removeEntry()"
      >
        <v-icon>mdi-account-minus</v-icon>
      </v-btn>
    </v-fab-transition>
    <v-row>
      <v-col cols="12" class="py-1">
        <ShortTextElement
          :field-object="relative"
          :field-schema="fieldSchema"
          field-name="name"
          vuex-namespace="relativeInfo"
        />
      </v-col>
      <v-col cols="12" class="py-1">
        <ShortTextElement
          :field-object="relative"
          :field-schema="fieldSchema"
          field-name="relation"
          vuex-namespace="relativeInfo"
        />
      </v-col>
      <v-col cols="12" class="py-1">
        <ShortTextElement
          render-phonenumber
          :field-object="relative"
          :field-schema="fieldSchema"
          field-name="phone"
          vuex-namespace="relativeInfo"
        />
      </v-col>
      <v-col cols="12" class="py-1">
        <ShortTextElement
          :field-object="relative"
          :field-schema="fieldSchema"
          field-name="email"
          :input-rules="emailRules"
          vuex-namespace="relativeInfo"
        />
      </v-col>
    </v-row>
  </v-card>
</template>
<script>
import ShortTextElement from './ShortTextElement.vue'
export default {
  components: {
    ShortTextElement
  },
  props: {
    fieldSchema: {
      type: Object,
      default () { return {} }
    },
    relative: {
      type: Object,
      default () { return {} }
    },
    vuexNamespace: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      emailRules: [
        (v) => {
          if (!v) return true
          const isEmail = /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w*)+$/.test(v)
          const noInput = v.length === 0
          if (isEmail || noInput) {
            return true
          } else {
            return this.$t('signup.messages.error_email')
          }
        }
      ]
    }
  },
  computed: {
    isViewMode () {
      return this.$store.getters.mode.mode === 'view'
    }
  },
  methods: {
    removeEntry () {
      this.$store.commit(`${this.vuexNamespace}/DEL_ITEM`,
        this.relative)
    }
  }
}

</script>
