<template>
  <div id="relative-list-select-test-anchor">
    <v-row v-if="isViewMode && isIndetermined">
      <v-col cols="11" class="py-0">
        <div style="opacity: 0.3;">
          <div class="text-body-2">
            {{ $t(`data.indetermined`) }}
          </div>
        </div>
      </v-col>
    </v-row>
    <v-row v-else>
      <v-col v-for="(relative) in field_list" :key="relative.id"
             cols="12" class="py-2"
      >
        <RelativeElement
          :relative="relative"
          :field_schema="field_schema"
          vuex-namespace="relativeInfo"
        />
      </v-col>
    </v-row>
  </div>
</template>

<script>
import RelativeElement from './RelativeElement.vue'
export default {
  components: {
    RelativeElement
  },
  computed: {
    field_list () {
      // experts get relatives of all user when doint GET on 'relativeInfo/list'
      // here we filter the relatives of the currently examined user
      return this.$store.getters['relativeInfo/list'].filter(
        relative => relative.user === this.$store.getters.userUnderExamination.pk
      )
    },
    field_schema () {
      return this.$store.getters['relativeInfo/schema']
    },
    isLoading () {
      return this.$store.getters['relativeInfo/isLoading']
    },
    isViewMode () {
      return this.$store.getters.mode.mode === 'view'
    },
    isIndetermined () {
      return this.field_list.length === 0
    }
  }
}
</script>
