<template>
  <div>
    <v-list-item
      :to="{ name: `patient-list` }"
      exact
    >
      <v-list-item-action>
        <v-icon>
          mdi-account-group
        </v-icon>
      </v-list-item-action>
      <v-list-item-content>
        <div>
          {{ $t(`sidenav.patient-list`) }}
        </div>
        <div
          v-if="$store.getters.userUnderExamination"
        >
          <span
            :class="$store.getters.userUnderExamination.verified ? 'success--text' : 'error--text'"
            >
            {{ $store.getters.userUnderExamination.first_name }} {{ $store.getters.userUnderExamination.last_name }}
            </span>
        </div>
        <div v-else class="secondary--text">
          No one selected
        </div>
      </v-list-item-content>
    </v-list-item>
    <v-list-item
      v-if="$store.getters.userUnderExamination && $store.getters['authenticatedUser/isExpert']"
      style="min-height: 1em;"
      >
      <v-list-item-action>
        <v-switch
          v-model="userVerification"
          color="success"
        />
      </v-list-item-action>
      <v-list-item-content>
        <div class="secondary--text">
          <span
            v-if="$store.getters.userUnderExamination.verified"
            >
            {{ $t(`app.removeVerification`) }}
          </span>
          <span v-else>
            {{ $t(`app.verify`) }}
          </span>
        </div>
      </v-list-item-content>
    </v-list-item>
    <v-list-item
      v-if="$store.getters.userUnderExamination && $store.getters['authenticatedUser/isAdmin']"
      style="min-height: 1em;"
      >
      <v-list-item-action>
        <v-switch
          v-model="expertState"
          color="success"
        />
      </v-list-item-action>
      <v-list-item-content>
        <div class="secondary--text">
          <span
            v-if="$store.getters.userUnderExamination.groups.indexOf('expert') >= 0"
            >
            {{ $t(`app.revokeExpert`) }}
          </span>
          <span v-else>
            {{ $t(`app.appointExpert`) }}
          </span>
        </div>
      </v-list-item-content>
    </v-list-item>
  </div>
</template>

<script>
export default {
  computed: {
    isViewMode () { return this.$store.getters.mode.mode === 'view' },
    userVerification: {
      get () {
        return this.$store.getters.userUnderExamination.verified
      },
      set (value) {
        var payload = {
          fieldObject: this.$store.getters.userUnderExamination,
          fieldName: 'verified',
          data: value
        }
        this.$store.commit('user/UPDATE_ATTRIBUTE', payload)
      }
    },
    expertState: {
      get () {
        return (this.$store.getters.userUnderExamination.groups.indexOf('expert') >= 0)
      },
      set (value) {
        // following creates a duplicate of the users groups array
        const groups = this.$store.getters.userUnderExamination.groups.slice()
        const index = groups.indexOf('expert')
        if (index >= 0) {
          groups.splice(index, 1)
        } else {
          groups.push('expert')
        }
        var payload = {
          fieldObject: this.$store.getters.userUnderExamination,
          fieldName: 'groups',
          data: groups
        }
        console.log('GROUPS', payload)
        this.$store.commit('user/UPDATE_ATTRIBUTE', payload)
      }
    }
  }
}
</script>
