<template>
  <div>
    <v-text-field v-if="!isViewMode"
                  ref="field"
                  v-model="inputModel"
                  :label="$t(`data.${fieldName}`)"
                  :name="fieldName"
                  :maxlength="fieldSchema.max_length"
                  :required="fieldSchema.required"
                  :readonly="fieldSchema.read_only"
                  :rules="inputRules"
    />
    <div v-else :style="`opacity: ${getOpacity};`">
      <div v-if="!hideLabel" class="text-caption">
        {{ $t(`data.${fieldName}`) }}
      </div>
      <pre
        :id="fieldName"
        class="text--primary pl-1"
        style="white-space: pre-wrap;"
        v-html="display_value"
      />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    fieldSchema: {
      type: Object,
      default () { return {} }
    },
    fieldObject: {
      type: Object,
      default () { return {} }
    },
    fieldName: {
      type: String,
      default: ''
    },
    vuexNamespace: {
      type: String,
      default: ''
    },
    hideLabel: {
      type: Boolean,
      default: false
    },
    renderPhonenumber: {
      type: Boolean,
      default: false
    },
    inputRules: {
      type: Array,
      default () { return [] }
    }
  },
  computed: {
    display_value () {
      if (this.isIndetermined) {
        return this.$t('data.indetermined')
      } else if (this.renderPhonenumber) {
        return this.$options.filters.phonify(this.inputModel)
      } else {
        return this.inputModel
      }
    },
    inputModel: {
      get () {
        return this.fieldObject[this.fieldName]
      },
      set (value) {
        const isValid = this.$refs.field.validate()
        if (isValid) {
          const payload = {
            fieldObject: this.fieldObject,
            fieldName: this.fieldName,
            data: value
          }
          this.$store.commit(`${this.vuexNamespace}/UPDATE_ATTRIBUTE`, payload)
        }
      }
    },
    isViewMode () {
      return this.$store.getters.mode.mode === 'view'
    },
    isIndetermined () {
      return !this.inputModel || this.inputModel.length === 0
    },
    getOpacity () {
      if (this.isIndetermined) return 0.3
      else return 1
    }
  }
}
</script>
