<template>
  <div v-if="$store.getters.userUnderExamination">
    <v-list-item
      v-if="isViewMode && hasData"
      :to="{ name: `${target}` }"
      exact
    >
      <v-list-item-action>
          <v-icon v-text="icon" />
      </v-list-item-action>
      <v-list-item-content>
        <v-list-item-title>
          <span>
            {{ $t(`sidenav.${target}`) }}
          </span>
        </v-list-item-title>
      </v-list-item-content>
    </v-list-item>
    <div
      v-else-if="isViewMode && !hasData"
      style="display: none"
    />
    <v-list-item
      v-else-if="!isViewMode && hasData"
      :to="{ name: `edit-${target}` }"
      exact
    >
      <v-list-item-action>
          <v-icon v-text="icon" />
      </v-list-item-action>
      <v-list-item-content>
        <v-list-item-title>
          <span>
            {{ $t(`sidenav.${target}`) }}
          </span>
        </v-list-item-title>
      </v-list-item-content>
    </v-list-item>
    <v-list-item
      v-else-if="!isViewMode && !hasData"
      :to="{ name: `edit-${target}` }"
      exact
      @click="addItem"
    >
      <v-list-item-action>
          <v-icon v-text="icon" />
      </v-list-item-action>
      <v-list-item-content>
        <v-list-item-title>
          <span>
            {{ $t(`sidenav.${target}_create`) }}
          </span>
        </v-list-item-title>
      </v-list-item-content>
    </v-list-item>
  </div>
</template>

<script>
export default {
  props: {
    icon: {
      type: String,
      default () { return '' }
    },
    target: {
      type: String,
      default () { return '' }
    },
    vuexName: {
      type: String,
      default () { return '' }
    }
  },
  computed: {
    isViewMode () {
      return this.$store.getters.mode.mode === 'view'
    },
    hasData () {
      if (this.vuexName === 'user') return true; else {
        return this.$store.getters[`${this.vuexName}/list`].filter(
          x => x.user === this.$store.getters.userUnderExamination.pk
        ).length > 0
      }
    }
  },
  methods: {
    addItem () {
      if (this.vuexName === 'heartDiagnosis') {
        this.$store.commit('heartDiagnosis/ADD_OBJECT',
          { user: this.$store.getters.userUnderExamination.pk, heart_disease: 1 }
        )
      } else if (this.vuexName === 'heartIntervention') {
        this.$store.commit('heartIntervention/ADD_OBJECT',
          { user: this.$store.getters.userUnderExamination.pk, heart_operation: null }
        )
      } else {
        this.$store.commit(`${this.vuexName}/ADD_OBJECT`, {
          user: this.$store.getters.userUnderExamination.pk
        })
      }
    }
  }
}
</script>
