<template>
  <v-autocomplete
    v-model="selected_item"
    :items="fullSelection"
    :hint="hint"
    :item-text="`name_${$store.getters.uiLanguage}`"
    item-value="id"
    :label="label"
    :placeholder="placeholder"
    :filter="searchLongNameAsWell"
    clearable
    persistent-hint
    :menu-props="{maxHeight:'300'}"
    @change="updateValue"
  >
    <template
      v-if="data.item"
      slot="item"
      slot-scope="data"
    >
      <v-list-item-avatar>
        <img :src="data.item.illustration_url" alt="">
      </v-list-item-avatar>
      <v-list-item-content>
        <v-list-item-title>
          {{ data.item[`name_${$store.getters.uiLanguage}`] }}
        </v-list-item-title>
        <v-list-item-subtitle>
          {{ data.item[`long_name_${$store.getters.uiLanguage}`] }}
        </v-list-item-subtitle>
      </v-list-item-content>
    </template>
  </v-autocomplete>
</template>

<script>
export default {
  props: {
    fullSelection: {
      type: Array,
      default () { return [] }
    },
    label: {
      type: String,
      default: ''
    },
    hint: {
      type: String,
      default: ''
    },
    placeholder: {
      type: String,
      default: ''
    },
    value: {
      type: Object,
      default: null
    }
  },
  data () {
    return {
      selected_item: null,
      searchLongNameAsWell (item, queryText, itemText) {
        const hasValue = val => val != null ? val : ''
        const name = hasValue(item[`name_${this.$store.getters.uiLanguage}`])
        const lname = hasValue(item[`long_name_${this.$store.getters.uiLanguage}`])
        const query = hasValue(queryText)
        return name.toString().toLowerCase().indexOf(query.toString().toLowerCase()) > -1 ||
          lname.toString().toLowerCase().indexOf(query.toString().toLowerCase()) > -1
      }
    }
  },
  created () {
    this.selected_item = this.value // set initial value
  },
  methods: {
    updateValue: function (value) {
      this.$emit('input', value || null)
    }
  }
}
</script>
