<template>
  <v-form v-model="valid" @submit.stop.prevent="login({email, password})">
    <v-text-field
      id="login-username"
      v-model="email"
      :label="$t('login.email')"
      type="email"
      :rules="emailRules"
      required
      autocapitalize="off"
      autocorrect="off"
      :error-messages="errorMsgs['email']"
    />
    <v-text-field
      id="login-password"
      v-model="password"
      :error-messages="errorMsgs['password']"
      :label="$t('login.password')"
      :append-icon="password_visible ? 'mdi-eye' : 'mdi-eye-off'"
      :type="password_visible ? 'password' : 'text'"
      required
      :rules="[v => !!v || this.$t('signup.messages.error_required')]"
      @click:append="() => (password_visible = !password_visible)"
    />
    <v-container class="ma-0 pa-0">
      <v-row>
        <v-col cols="12" sm="6">
          <v-btn
            small
            :disabled="!valid"
            type="submit"
          >
            {{ $t('login.login') }}
          </v-btn>
          <v-btn
            text
            small
            :to="{ name: 'password-reset'}"
            class="primary--text"
          >
            {{ $t('login.forgot_password') }}
          </v-btn>
        </v-col>
        <v-col cols="12" sm="6">
          <v-btn
            text
            small
            :to="{ name: 'impressum-unauthorized'}"
            class="info--text"
          >
            {{ $t('app.disclaimer') }}
          </v-btn>
          <v-btn
            text
            small
            href="static/documentation.pdf"
            class="info--text"
          >
            {{ $t('app.documentation') }}
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </v-form>
</template>

<script>
export default {
  data () {
    return {
      valid: false,
      email: '',
      emailRules: [
        (v) => !!v || this.$t('signup.messages.error_email'),
        (v) => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w*)+$/.test(v) || this.$t('signup.messages.error_email')
      ],
      password: '',
      password_visible: true,
      errorMsgs: {
        email: [],
        password: []
      }
    }
  },
  methods: {
    async login () {
      try {
        await this.$store.dispatch('login', {
          email: this.email,
          password: this.password
        })
        this.$store.dispatch('loadAppData')
        this.$router.push({ name: 'home' })
      } catch (e) {
        if (e.data.non_field_errors) {
          this.$store.commit('ADD_NOTIFICATION', {
            actionDesc: this.$t('login.error'),
            message: `${e.httpError}: ${e.data.non_field_errors.join('\n')}`,
            type: 'error'
          })
          delete e.data.non_field_errors
        }
        Object.assign(this.errorMsgs, e.data)
      }
    }
  }
}
</script>
