<template>
  <v-app id="appframe">
    <main>
      <v-content>
        <v-container fluid class="pa-0">
          <router-view name="main" />
        </v-container>
      </v-content>
    </main>
  </v-app>
</template>

<script>
export default {
  name: 'App'
}
</script>
